openapi: 3.2.0
info:
  title: Google Display & Video 360 Inventory Sources API
  description: Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items. Derived mechanically from the first-party Google API Discovery Document at https://displayvideo.googleapis.com/$discovery/rest?version=v4 (revision 20260813).
  version: v4
  contact:
    name: Google
    url: https://developers.google.com/display-video/
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
  x-google-discovery-revision: '20260813'
  x-google-discovery-document: https://displayvideo.googleapis.com/$discovery/rest?version=v4
servers:
- url: https://displayvideo.googleapis.com
  description: Display & Video 360 API server
security:
- oauth2:
  - https://www.googleapis.com/auth/display-video
tags:
- name: Inventory Sources
paths:
  /v4/inventorySources/{inventorySourcesId}:editInventorySourceReadWriteAccessors:
    post:
      operationId: inventorySourcesEditInventorySourceReadWriteAccessors
      summary: Edits read/write accessors of an inventory source.
      description: Edits read/write accessors of an inventory source. Returns the updated read_write_accessors for the inventory source.
      tags:
      - Inventory Sources
      parameters:
      - name: inventorySourceId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of inventory source to update.
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditInventorySourceReadWriteAccessorsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySourceAccessors'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySources.editInventorySourceReadWriteAccessors
  /v4/inventorySources:
    get:
      operationId: inventorySourcesList
      summary: Lists inventory sources that are accessible to the current user.
      description: Lists inventory sources that are accessible to the current user. The order is defined by the order_by parameter. If a filter by entity_status is not specified, inventory sources with entity status `ENTITY_STATUS_ARCHIVED` will not be included in the results.
      tags:
      - Inventory Sources
      parameters:
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that has access to the inventory source.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that has access to the inventory source.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. For example, `displayName desc`.'
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListInventorySources` method. If not specified, the first page of results will be returned.
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by inventory source fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `status.entityStatus` * `commitment` * `deliveryMethod` * `rateDetails.rateType` * `exchange` Examples: * All active inventory sources: `status.entityStatus="ENTITY_STATUS_ACTIVE"` * Inventory sources belonging to Google Ad Manager or Rubicon exchanges: `exchange="EXCHANGE_GOOGLE_AD_MANAGER" OR exchange="EXCHANGE_RUBICON"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInventorySourcesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySources.list
    post:
      operationId: inventorySourcesCreate
      summary: Creates a new inventory source.
      description: Creates a new inventory source. Returns the newly created inventory source if successful.
      tags:
      - Inventory Sources
      parameters:
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that the request is being made within.
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that the request is being made within.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventorySource'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySource'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySources.create
  /v4/inventorySources/{inventorySourcesId}:
    patch:
      operationId: inventorySourcesPatch
      summary: Updates an existing inventory source.
      description: Updates an existing inventory source. Returns the updated inventory source if successful.
      tags:
      - Inventory Sources
      parameters:
      - name: inventorySourceId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Output only. The unique ID of the inventory source. Assigned by the system.
        required: true
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that the request is being made within.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that the request is being made within.
      - name: updateMask
        in: query
        schema:
          type: string
          format: google-fieldmask
        description: Required. The mask to control which fields to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventorySource'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySource'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySources.patch
    get:
      operationId: inventorySourcesGet
      summary: Gets an inventory source.
      description: Gets an inventory source.
      tags:
      - Inventory Sources
      parameters:
      - name: inventorySourceId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the inventory source to fetch.
        required: true
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: Optional. The ID of the DV360 advertiser to which the fetched inventory source is permissioned. If the user only has access to the advertiser and not the parent partner, use this field to specify the relevant advertiser.
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: Required. The ID of the DV360 partner to which the fetched inventory source is permissioned.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySource'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySources.get
components:
  schemas:
    Dimensions:
      type: object
      description: Dimensions.
      properties:
        widthPixels:
          type: integer
          format: int32
          description: The width in pixels.
        heightPixels:
          type: integer
          format: int32
          description: The height in pixels.
    InventorySourceAccessors:
      type: object
      description: The partner or advertisers with access to the inventory source.
      properties:
        advertisers:
          $ref: '#/components/schemas/InventorySourceAccessorsAdvertiserAccessors'
        partner:
          $ref: '#/components/schemas/InventorySourceAccessorsPartnerAccessor'
    EditInventorySourceReadWriteAccessorsRequestAdvertisersUpdate:
      type: object
      description: Update to the list of advertisers with read/write access to the inventory source.
      properties:
        addedAdvertisers:
          type: array
          description: The advertisers to add.
          items:
            type: string
            format: int64
        removedAdvertisers:
          type: array
          description: The advertisers to remove.
          items:
            type: string
            format: int64
    InventorySourceStatus:
      type: object
      description: The status related settings of the inventory source.
      properties:
        entityPauseReason:
          type: string
          description: The user-provided reason for pausing this inventory source. Must not exceed 100 characters. Only applicable when entity_status is set to `ENTITY_STATUS_PAUSED`.
        sellerStatus:
          type: string
          description: 'Output only. The status set by the seller for the inventory source. Only applicable for inventory sources synced directly from the publishers. Acceptable values are `ENTITY_STATUS_ACTIVE` and `ENTITY_STATUS_PAUSED`. Allowed values — `ENTITY_STATUS_UNSPECIFIED`: Default value when status is not specified or is unknown in this version.; `ENTITY_STATUS_ACTIVE`: The entity is enabled to bid and spend budget.; `ENTITY_STATUS_ARCHIVED`: The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.; `ENTITY_STATUS_DRAFT`: The entity is under draft. Bidding and budget spending are disabled.; `ENTITY_STATUS_PAUSED`: Bidding and budget spending are paused for the entity.; `ENTITY_STATUS_SCHEDULED_FOR_DELETION`: The entity is scheduled for deletion.'
          enum:
          - ENTITY_STATUS_UNSPECIFIED
          - ENTITY_STATUS_ACTIVE
          - ENTITY_STATUS_ARCHIVED
          - ENTITY_STATUS_DRAFT
          - ENTITY_STATUS_PAUSED
          - ENTITY_STATUS_SCHEDULED_FOR_DELETION
          readOnly: true
        sellerPauseReason:
          type: string
          description: Output only. The seller-provided reason for pausing this inventory source. Only applicable for inventory sources synced directly from the publishers and when seller_status is set to `ENTITY_STATUS_PAUSED`.
          readOnly: true
        entityStatus:
          type: string
          description: 'Whether or not the inventory source is servable. Acceptable values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_ARCHIVED`, and `ENTITY_STATUS_PAUSED`. Default value is `ENTITY_STATUS_ACTIVE`. Allowed values — `ENTITY_STATUS_UNSPECIFIED`: Default value when status is not specified or is unknown in this version.; `ENTITY_STATUS_ACTIVE`: The entity is enabled to bid and spend budget.; `ENTITY_STATUS_ARCHIVED`: The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.; `ENTITY_STATUS_DRAFT`: The entity is under draft. Bidding and budget spending are disabled.; `ENTITY_STATUS_PAUSED`: Bidding and budget spending are paused for the entity.; `ENTITY_STATUS_SCHEDULED_FOR_DELETION`: The entity is scheduled for deletion.'
          enum:
          - ENTITY_STATUS_UNSPECIFIED
          - ENTITY_STATUS_ACTIVE
          - ENTITY_STATUS_ARCHIVED
          - ENTITY_STATUS_DRAFT
          - ENTITY_STATUS_PAUSED
          - ENTITY_STATUS_SCHEDULED_FOR_DELETION
        configStatus:
          type: string
          description: 'Output only. The configuration status of the inventory source. Only applicable for guaranteed inventory sources. Acceptable values are `INVENTORY_SOURCE_CONFIG_STATUS_PENDING` and `INVENTORY_SOURCE_CONFIG_STATUS_COMPLETED`. An inventory source must be configured (fill in the required fields, choose creatives, and select a default campaign) before it can serve. Allowed values — `INVENTORY_SOURCE_CONFIG_STATUS_UNSPECIFIED`: The approval status is not specified or is unknown in this version.; `INVENTORY_SOURCE_CONFIG_STATUS_PENDING`: The beginning state of a guaranteed inventory source. The inventory source in this state needs to be configured.; `INVENTORY_SOURCE_CONFIG_STATUS_COMPLETED`: The state after the buyer configures a guaranteed inventory source.'
          enum:
          - INVENTORY_SOURCE_CONFIG_STATUS_UNSPECIFIED
          - INVENTORY_SOURCE_CONFIG_STATUS_PENDING
          - INVENTORY_SOURCE_CONFIG_STATUS_COMPLETED
          readOnly: true
    TimeRange:
      type: object
      description: A time range.
      properties:
        startTime:
          type: string
          format: google-datetime
          description: Required. The lower bound of a time range, inclusive.
        endTime:
          type: string
          format: google-datetime
          description: Required. The upper bound of a time range, inclusive.
    RateDetails:
      type: object
      description: The rate related settings of the inventory source.
      properties:
        inventorySourceRateType:
          type: string
          description: 'The rate type. Acceptable values are `INVENTORY_SOURCE_RATE_TYPE_CPM_FIXED`, `INVENTORY_SOURCE_RATE_TYPE_CPM_FLOOR`, and `INVENTORY_SOURCE_RATE_TYPE_CPD`. Allowed values — `INVENTORY_SOURCE_RATE_TYPE_UNSPECIFIED`: The rate type is not specified or is unknown in this version.; `INVENTORY_SOURCE_RATE_TYPE_CPM_FIXED`: The rate type is CPM (Fixed).; `INVENTORY_SOURCE_RATE_TYPE_CPM_FLOOR`: The rate type is CPM (Floor).; `INVENTORY_SOURCE_RATE_TYPE_CPD`: The rate type is Cost per Day.; `INVENTORY_SOURCE_RATE_TYPE_CPH`: The rate type is Cost per Hour.; `INVENTORY_SOURCE_RATE_TYPE_FLAT`: The rate type is Flat.'
          enum:
          - INVENTORY_SOURCE_RATE_TYPE_UNSPECIFIED
          - INVENTORY_SOURCE_RATE_TYPE_CPM_FIXED
          - INVENTORY_SOURCE_RATE_TYPE_CPM_FLOOR
          - INVENTORY_SOURCE_RATE_TYPE_CPD
          - INVENTORY_SOURCE_RATE_TYPE_CPH
          - INVENTORY_SOURCE_RATE_TYPE_FLAT
        unitsPurchased:
          type: string
          format: int64
          description: Required for guaranteed inventory sources. The number of impressions guaranteed by the seller.
        minimumSpend:
          $ref: '#/components/schemas/Money'
        rate:
          $ref: '#/components/schemas/Money'
    InventorySourceAccessorsAdvertiserAccessors:
      type: object
      description: The advertisers with access to the inventory source.
      properties:
        advertiserIds:
          type: array
          description: The IDs of the advertisers.
          items:
            type: string
            format: int64
    InventorySourceDisplayCreativeConfig:
      type: object
      description: The configuration for display creatives.
      properties:
        creativeSize:
          $ref: '#/components/schemas/Dimensions'
    InventorySourceAccessorsPartnerAccessor:
      type: object
      description: The partner with access to the inventory source.
      properties:
        partnerId:
          type: string
          format: int64
          description: The ID of the partner.
    InventorySource:
      type: object
      description: An inventory source.
      properties:
        creativeConfigs:
          type: array
          description: The creative requirements of the inventory source. Not applicable for auction packages.
          items:
            $ref: '#/components/schemas/CreativeConfig'
        readPartnerIds:
          type: array
          description: Output only. The IDs of partners with read-only access to the inventory source. All advertisers of partners in this field inherit read-only access to the inventory source.
          readOnly: true
          items:
            type: string
            format: int64
        commitment:
          type: string
          description: 'Whether the inventory source has a guaranteed or non-guaranteed delivery. Allowed values — `INVENTORY_SOURCE_COMMITMENT_UNSPECIFIED`: The commitment is not specified or is unknown in this version.; `INVENTORY_SOURCE_COMMITMENT_GUARANTEED`: The commitment is guaranteed delivery.; `INVENTORY_SOURCE_COMMITMENT_NON_GUARANTEED`: The commitment is non-guaranteed delivery.'
          enum:
          - INVENTORY_SOURCE_COMMITMENT_UNSPECIFIED
          - INVENTORY_SOURCE_COMMITMENT_GUARANTEED
          - INVENTORY_SOURCE_COMMITMENT_NON_GUARANTEED
        dealId:
          type: string
          description: The ID in the exchange space that uniquely identifies the inventory source. Must be unique across buyers within each exchange but not necessarily unique across exchanges.
        status:
          $ref: '#/components/schemas/InventorySourceStatus'
        inventorySourceType:
          type: string
          description: 'Denotes the type of the inventory source. Allowed values — `INVENTORY_SOURCE_TYPE_UNSPECIFIED`: The inventory source type is not specified or is unknown in this version.; `INVENTORY_SOURCE_TYPE_PRIVATE`: Private inventory source.; `INVENTORY_SOURCE_TYPE_AUCTION_PACKAGE`: Auction package.'
          enum:
          - INVENTORY_SOURCE_TYPE_UNSPECIFIED
          - INVENTORY_SOURCE_TYPE_PRIVATE
          - INVENTORY_SOURCE_TYPE_AUCTION_PACKAGE
        inventorySourceId:
          type: string
          format: int64
          description: Output only. The unique ID of the inventory source. Assigned by the system.
          readOnly: true
        inventorySourceProductType:
          type: string
          description: 'Output only. The product type of the inventory source, denoting the way through which it sells inventory. Allowed values — `INVENTORY_SOURCE_PRODUCT_TYPE_UNSPECIFIED`: The product type is not specified or is unknown in this version. Modifying inventory sources of this product type are not supported via API.; `PREFERRED_DEAL`: The inventory source sells inventory through Preferred Deal.; `PRIVATE_AUCTION`: The inventory source sells inventory through Private Auction.; `PROGRAMMATIC_GUARANTEED`: The inventory source sells inventory through Programmatic Guaranteed.; `TAG_GUARANTEED`: The inventory source sells inventory through Tag Guaranteed.; `YOUTUBE_RESERVE`: The inventory source sells inventory through YouTube Reserve.; `INSTANT_RESERVE`: The inventory source sells inventory through Instant Reserve. Modifying inventory sources of this product type are not supported via API.; `GUARANTEED_PACKAGE`: The inventory source sells inventory through Guaranteed Package. Modifying inventory sources of this product type are not supported via API.; `PROGRAMMATIC_TV`: The inventory source sells inventory through Programmtic TV. Modifying inventory sources of this product type are not supported via API.; `AUCTION_PACKAGE`: The inventory source sells inventory through Auction Package. Modifying inventory sources of this product type are not supported via API.'
          enum:
          - INVENTORY_SOURCE_PRODUCT_TYPE_UNSPECIFIED
          - PREFERRED_DEAL
          - PRIVATE_AUCTION
          - PROGRAMMATIC_GUARANTEED
          - TAG_GUARANTEED
          - YOUTUBE_RESERVE
          - INSTANT_RESERVE
          - GUARANTEED_PACKAGE
          - PROGRAMMATIC_TV
          - AUCTION_PACKAGE
          readOnly: true
        guaranteedOrderId:
          type: string
          description: Immutable. The ID of the guaranteed order that this inventory source belongs to. Only applicable when commitment is `INVENTORY_SOURCE_COMMITMENT_GUARANTEED`.
        updateTime:
          type: string
          format: google-datetime
          description: Output only. The timestamp when the inventory source was last updated. Assigned by the system.
          readOnly: true
        exchange:
          type: string
          description: 'The exchange to which the inventory source belongs. Allowed values — `EXCHANGE_UNSPECIFIED`: Exchange is not specified or is unknown in this version.; `EXCHANGE_GOOGLE_AD_MANAGER`: Google Ad Manager.; `EXCHANGE_APPNEXUS`: AppNexus.; `EXCHANGE_BRIGHTROLL`: BrightRoll Exchange for Video from Yahoo!.; `EXCHANGE_ADFORM`: Adform.; `EXCHANGE_ADMETA`: Admeta.; `EXCHANGE_ADMIXER`: Admixer.; `EXCHANGE_ADSMOGO`: AdsMogo.; `EXCHANGE_ADSWIZZ`: AdsWizz.; `EXCHANGE_BIDSWITCH`: BidSwitch.; `EXCHANGE_BRIGHTROLL_DISPLAY`: BrightRoll Exchange for Display from Yahoo!.; `EXCHANGE_CADREON`: Cadreon.; `EXCHANGE_DAILYMOTION`: Dailymotion.; `EXCHANGE_FIVE`: Five.; `EXCHANGE_FLUCT`: Fluct.; `EXCHANGE_FREEWHEEL`: FreeWheel SSP.; `EXCHANGE_GENIEE`: Geniee.; `EXCHANGE_GUMGUM`: GumGum.; `EXCHANGE_IMOBILE`: i-mobile.; `EXCHANGE_IBILLBOARD`: iBILLBOARD.; `EXCHANGE_IMPROVE_DIGITAL`: Improve Digital.; `EXCHANGE_INDEX`: Index Exchange.; `EXCHANGE_KARGO`: Kargo.; `EXCHANGE_MICROAD`: MicroAd.; `EXCHANGE_MOPUB`: MoPub.; `EXCHANGE_NEND`: Nend.; `EXCHANGE_ONE_BY_AOL_DISPLAY`: ONE by AOL: Display Market Place.; `EXCHANGE_ONE_BY_AOL_MOBILE`: ONE by AOL: Mobile.; `EXCHANGE_ONE_BY_AOL_VIDEO`: ONE by AOL: Video.; `EXCHANGE_OOYALA`: Ooyala.; `EXCHANGE_OPENX`: OpenX.; `EXCHANGE_PERMODO`: Permodo.; `EXCHANGE_PLATFORMONE`: Platform One.; `EXCHANGE_PLATFORMID`: PlatformId.; `EXCHANGE_PUBMATIC`: PubMatic.; `EXCHANGE_PULSEPOINT`: PulsePoint.; `EXCHANGE_REVENUEMAX`: RevenueMax.; `EXCHANGE_RUBICON`: Rubicon.; `EXCHANGE_SMARTCLIP`: SmartClip.; `EXCHANGE_SMARTRTB`: SmartRTB+.; `EXCHANGE_SMARTSTREAMTV`: SmartstreamTv.; `EXCHANGE_SOVRN`: Sovrn.; `EXCHANGE_SPOTXCHANGE`: SpotXchange.; `EXCHANGE_STROER`: Ströer SSP.; `EXCHANGE_TEADSTV`: TeadsTv.; `EXCHANGE_TELARIA`: Telaria.; `EXCHANGE_TVN`: TVN.; `EXCHANGE_UNITED`: United.; `EXCHANGE_YIELDLAB`: Yieldlab.; `EXCHANGE_YIELDMO`: Yieldmo.; `EXCHANGE_UNRULYX`: UnrulyX.; `EXCHANGE_OPEN8`: Open8.; `EXCHANGE_TRITON`: Triton.; `EXCHANGE_TRIPLELIFT`: TripleLift.; `EXCHANGE_TABOOLA`: Taboola.; `EXCHANGE_INMOBI`: InMobi.; `EXCHANGE_SMAATO`: Smaato.; `EXCHANGE_AJA`: Aja.; `EXCHANGE_SUPERSHIP`: Supership.; `EXCHANGE_NEXSTAR_DIGITAL`: Nexstar Digital.; `EXCHANGE_WAZE`: Waze.; `EXCHANGE_SOUNDCAST`: SoundCast.; `EXCHANGE_SHARETHROUGH`: Sharethrough.; `EXCHANGE_FYBER`: Fyber.; `EXCHANGE_RED_FOR_PUBLISHERS`: Red For Publishers.; `EXCHANGE_MEDIANET`: Media.net.; `EXCHANGE_TAPJOY`: Tapjoy.; `EXCHANGE_VISTAR`: Vistar.; `EXCHANGE_DAX`: DAX.; `EXCHANGE_JCD`: JCD.; `EXCHANGE_PLACE_EXCHANGE`: Place Exchange.; `EXCHANGE_APPLOVIN`: AppLovin.; `EXCHANGE_CONNATIX`: Connatix.; `EXCHANGE_RESET_DIGITAL`: Reset Digital.; `EXCHANGE_HIVESTACK`: Hivestack.; `EXCHANGE_DRAX`: Drax.; `EXCHANGE_APPLOVIN_GBID`: AppLovin MAX.; `EXCHANGE_FYBER_GBID`: DT Fairbid.; `EXCHANGE_UNITY_GBID`: Unity LevelPlay.; `EXCHANGE_CHARTBOOST_GBID`: Chartboost Mediation.; `EXCHANGE_ADMOST_GBID`: AdMost.; `EXCHANGE_TOPON_GBID`: TopOn.; `EXCHANGE_NETFLIX`: Netflix.; `EXCHANGE_CORE`: Core.; `EXCHANGE_COMMERCE_GRID`: Commerce Grid.; `EXCHANGE_SPOTIFY`: Spotify.; `EXCHANGE_TUBI`: Tubi.; `EXCHANGE_SNAP`: Snap.; `EXCHANGE_CADENT`: Cadent.; `EXCHANGE_EXTE`: Exte.'
          enum:
          - EXCHANGE_UNSPECIFIED
          - EXCHANGE_GOOGLE_AD_MANAGER
          - EXCHANGE_APPNEXUS
          - EXCHANGE_BRIGHTROLL
          - EXCHANGE_ADFORM
          - EXCHANGE_ADMETA
          - EXCHANGE_ADMIXER
          - EXCHANGE_ADSMOGO
          - EXCHANGE_ADSWIZZ
          - EXCHANGE_BIDSWITCH
          - EXCHANGE_BRIGHTROLL_DISPLAY
          - EXCHANGE_CADREON
          - EXCHANGE_DAILYMOTION
          - EXCHANGE_FIVE
          - EXCHANGE_FLUCT
          - EXCHANGE_FREEWHEEL
          - EXCHANGE_GENIEE
          - EXCHANGE_GUMGUM
          - EXCHANGE_IMOBILE
          - EXCHANGE_IBILLBOARD
          - EXCHANGE_IMPROVE_DIGITAL
          - EXCHANGE_INDEX
          - EXCHANGE_KARGO
          - EXCHANGE_MICROAD
          - EXCHANGE_MOPUB
          - EXCHANGE_NEND
          - EXCHANGE_ONE_BY_AOL_DISPLAY
          - EXCHANGE_ONE_BY_AOL_MOBILE
          - EXCHANGE_ONE_BY_AOL_VIDEO
          - EXCHANGE_OOYALA
          - EXCHANGE_OPENX
          - EXCHANGE_PERMODO
          - EXCHANGE_PLATFORMONE
          - EXCHANGE_PLATFORMID
          - EXCHANGE_PUBMATIC
          - EXCHANGE_PULSEPOINT
          - EXCHANGE_REVENUEMAX
          - EXCHANGE_RUBICON
          - EXCHANGE_SMARTCLIP
          - EXCHANGE_SMARTRTB
          - EXCHANGE_SMARTSTREAMTV
          - EXCHANGE_SOVRN
          - EXCHANGE_SPOTXCHANGE
          - EXCHANGE_STROER
          - EXCHANGE_TEADSTV
          - EXCHANGE_TELARIA
          - EXCHANGE_TVN
          - EXCHANGE_UNITED
          - EXCHANGE_YIELDLAB
          - EXCHANGE_YIELDMO
          - EXCHANGE_UNRULYX
          - EXCHANGE_OPEN8
          - EXCHANGE_TRITON
          - EXCHANGE_TRIPLELIFT
          - EXCHANGE_TABOOLA
          - EXCHANGE_INMOBI
          - EXCHANGE_SMAATO
          - EXCHANGE_AJA
          - EXCHANGE_SUPERSHIP
          - EXCHANGE_NEXSTAR_DIGITAL
          - EXCHANGE_WAZE
          - EXCHANGE_SOUNDCAST
          - EXCHANGE_SHARETHROUGH
          - EXCHANGE_FYBER
          - EXCHANGE_RED_FOR_PUBLISHERS
          - EXCHANGE_MEDIANET
          - EXCHANGE_TAPJOY
          - EXCHANGE_VISTAR
          - EXCHANGE_DAX
          - EXCHANGE_JCD
          - EXCHANGE_PLACE_EXCHANGE
          - EXCHANGE_APPLOVIN
          - EXCHANGE_CONNATIX
          - EXCHANGE_RESET_DIGITAL
          - EXCHANGE_HIVESTACK
          - EXCHANGE_DRAX
          - EXCHANGE_APPLOVIN_GBID
          - EXCHANGE_FYBER_GBID
          - EXCHANGE_UNITY_GBID
          - EXCHANGE_CHARTBOOST_GBID
          - EXCHANGE_ADMOST_GBID
          - EXCHANGE_TOPON_GBID
          - EXCHANGE_NETFLIX
          - EXCHANGE_CORE
          - EXCHANGE_COMMERCE_GRID
          - EXCHANGE_SPOTIFY
          - EXCHANGE_TUBI
          - EXCHANGE_SNAP
          - EXCHANGE_CADENT
          - EXCHANGE_EXTE
        rateDetails:
          $ref: '#/components/schemas/RateDetails'
        publisherName:
          type: string
          description: The publisher/seller name of the inventory source.
        name:
          type: string
          description: Output only. The resource name of the inventory source.
          readOnly: true
        displayName:
          type: string
          description: The display name of the inventory source. Must be UTF-8 encoded with a maximum size of 240 bytes.
        readWriteAccessors:
          $ref: '#/components/schemas/InventorySourceAccessors'
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        deliveryMethod:
          type: string
          description: 'The delivery method of the inventory source. * For non-guaranteed inventory sources, the only acceptable value is `INVENTORY_SOURCE_DELIVERY_METHOD_PROGRAMMATIC`. * For guaranteed inventory sources, acceptable values are `INVENTORY_SOURCE_DELIVERY_METHOD_TAG` and `INVENTORY_SOURCE_DELIVERY_METHOD_PROGRAMMATIC`. Allowed values — `INVENTORY_SOURCE_DELIVERY_METHOD_UNSPECIFIED`: The delivery method is not specified or is unknown in this version.; `INVENTORY_SOURCE_DELIVERY_METHOD_PROGRAMMATIC`: The delivery method is programmatic.; `INVENTORY_SOURCE_DELIVERY_METHOD_TAG`: The delivery method is tag.'
          enum:
          - INVENTORY_SOURCE_DELIVERY_METHOD_UNSPECIFIED
          - INVENTORY_SOURCE_DELIVERY_METHOD_PROGRAMMATIC
          - INVENTORY_SOURCE_DELIVERY_METHOD_TAG
        readAdvertiserIds:
          type: array
          description: Output only. The IDs of advertisers with read-only access to the inventory source.
          readOnly: true
          items:
            type: string
            format: int64
    InventorySourceVideoCreativeConfig:
      type: object
      description: The configuration for video creatives.
      properties:
        duration:
          type: string
          format: google-duration
          description: The duration requirements for the video creatives that can be assigned to the inventory source.
    Money:
      type: object
      description: Represents an amount of money with its currency type.
      properties:
        currencyCode:
          type: string
          description: The three-letter currency code defined in ISO 4217.
        units:
          type: string
          format: int64
          description: The whole units of the amount. For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
        nanos:
          type: integer
          format: int32
          description: Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
    ListInventorySourcesResponse:
      type: object
      properties:
        nextPageToken:
          type: string
          description: A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListInventorySources` method to retrieve the next page of results.
        inventorySources:
          type: array
          description: The list of inventory sources. This list will be absent if empty.
          items:
            $ref: '#/components/schemas/InventorySource'
    EditInventorySourceReadWriteAccessorsRequest:
      type: object
      description: Request message for InventorySourceService.EditInventorySourceReadWriteAccessors.
      properties:
        assignPartner:
          type: boolean
          description: Set the partner context as read/write accessor of the inventory source. This will remove all other current read/write advertiser accessors.
        advertisersUpdate:
          $ref: '#/components/schemas/EditInventorySourceReadWriteAccessorsRequestAdvertisersUpdate'
        partnerId:
          type: string
          format: int64
          description: Required. The partner context by which the accessors change is being made.
    CreativeConfig:
      type: object
      description: Creative requirements configuration for the inventory source.
      properties:
        displayCreativeConfig:
          $ref: '#/components/schemas/InventorySourceDisplayCreativeConfig'
        videoCreativeConfig:
          $ref: '#/components/schemas/InventorySourceVideoCreativeConfig'
        creativeType:
          type: string
          description: 'The type of creative that can be assigned to the inventory source. Only the following types are supported: * `CREATIVE_TYPE_STANDARD` * `CREATIVE_TYPE_VIDEO` Allowed values — `CREATIVE_TYPE_UNSPECIFIED`: Type value is not specified or is unknown in this version.; `CREATIVE_TYPE_STANDARD`: Standard display creative. Create and update methods are supported for this creative type if the hosting_source is one of the following: * `HOSTING_SOURCE_HOSTED` * `HOSTING_SOURCE_THIRD_PARTY`; `CREATIVE_TYPE_EXPANDABLE`: Expandable creative. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_THIRD_PARTY`; `CREATIVE_TYPE_VIDEO`: Video creative. Create and update methods are supported for this creative type if the hosting_source is one of the following: * `HOSTING_SOURCE_HOSTED` * `HOSTING_SOURCE_THIRD_PARTY`; `CREATIVE_TYPE_NATIVE`: Native creative rendered by publishers with assets from advertiser. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_HOSTED`; `CREATIVE_TYPE_TEMPLATED_APP_INSTALL`: Templated app install mobile creative (banner). Create and update methods are **not** supported for this creative type.; `CREATIVE_TYPE_NATIVE_SITE_SQUARE`: Square native creative. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_HOSTED`; `CREATIVE_TYPE_TEMPLATED_APP_INSTALL_INTERSTITIAL`: Interstitial creative including both display and video. Create and update methods are **not** supported for this creative type.; `CREATIVE_TYPE_LIGHTBOX`: Responsive and expandable Lightbox creative. Create and update methods are **not** supported for this creative type.; `CREATIVE_TYPE_NATIVE_APP_INSTALL`: Native app install creative. Create and update methods are **not** supported for this creative type.; `CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE`: Square native app install creative. Create and update methods are **not** supported for this creative type.; `CREATIVE_TYPE_AUDIO`: Audio creative. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_HOSTED`; `CREATIVE_TYPE_PUBLISHER_HOSTED`: Publisher hosted creative. Create and update methods are **not** supported for this creative type.; `CREATIVE_TYPE_NATIVE_VIDEO`: Native video creative. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_HOSTED`; `CREATIVE_TYPE_TEMPLATED_APP_INSTALL_VIDEO`: Templated app install mobile video creative. Create and update methods are **not** supported for this creative type.; `CREATIVE_TYPE_ASSET_BASED_CREATIVE`: Asset-based creative. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_HOSTED`.'
          enum:
          - CREATIVE_TYPE_UNSPECIFIED
          - CREATIVE_TYPE_STANDARD
          - CREATIVE_TYPE_EXPANDABLE
          - CREATIVE_TYPE_VIDEO
          - CREATIVE_TYPE_NATIVE
          - CREATIVE_TYPE_TEMPLATED_APP_INSTALL
          - CREATIVE_TYPE_NATIVE_SITE_SQUARE
          - CREATIVE_TYPE_TEMPLATED_APP_INSTALL_INTERSTITIAL
          - CREATIVE_TYPE_LIGHTBOX
          - CREATIVE_TYPE_NATIVE_APP_INSTALL
          - CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE
          - CREATIVE_TYPE_AUDIO
          - CREATIVE_TYPE_PUBLISHER_HOSTED
          - CREATIVE_TYPE_NATIVE_VIDEO
          - CREATIVE_TYPE_TEMPLATED_APP_INSTALL_VIDEO
          - CREATIVE_TYPE_ASSET_BASED_CREATIVE
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Authorization and token endpoints read from https://accounts.google.com/.well-known/openid-configuration.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          refreshUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/doubleclickbidmanager: View and manage your reports in DoubleClick Bid Manager
            https://www.googleapis.com/auth/display-video-user-management: 'Private Service: https://www.googleapis.com/auth/display-video-user-management'
            https://www.googleapis.com/auth/display-video: Create, see, edit, and permanently delete your Display & Video 360 entities and reports
            https://www.googleapis.com/auth/display-video-mediaplanning: Create, see, and edit Display & Video 360 Campaign entities and see billing invoices
