openapi: 3.2.0
info:
  title: Google Display & Video 360 Media API
  description: Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items. Derived mechanically from the first-party Google API Discovery Document at https://displayvideo.googleapis.com/$discovery/rest?version=v4 (revision 20260813).
  version: v4
  contact:
    name: Google
    url: https://developers.google.com/display-video/
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
  x-google-discovery-revision: '20260813'
  x-google-discovery-document: https://displayvideo.googleapis.com/$discovery/rest?version=v4
servers:
- url: https://displayvideo.googleapis.com
  description: Display & Video 360 API server
security:
- oauth2:
  - https://www.googleapis.com/auth/display-video
tags:
- name: Media
paths:
  /media/{mediaId}:
    post:
      operationId: mediaUpload
      summary: Uploads media.
      description: 'Uploads media. Upload is supported on the URI `/upload/media/{resource_name=**}?upload_type=media.` **Note**: Upload requests will not be successful without including `upload_type=media` query string.'
      tags:
      - Media
      parameters:
      - name: resourceName
        in: path
        schema:
          type: string
          pattern: ^.*$
        description: Name of the media that is being downloaded. See ReadRequest.resource_name.
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleBytestreamMedia'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleBytestreamMedia'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
        - https://www.googleapis.com/auth/doubleclickbidmanager
      x-google-supports-media-upload: true
      x-google-method-id: displayvideo.media.upload
  /download/{downloadId}:
    get:
      operationId: mediaDownload
      summary: Downloads media.
      description: 'Downloads media. Download is supported on the URI `/download/{resource_name=**}?alt=media.` **Note**: Download requests will not be successful without including `alt=media` query string.'
      tags:
      - Media
      parameters:
      - name: resourceName
        in: path
        schema:
          type: string
          pattern: ^.*$
        description: Name of the media that is being downloaded. See ReadRequest.resource_name.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleBytestreamMedia'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
        - https://www.googleapis.com/auth/doubleclickbidmanager
      x-google-supports-media-download: true
      x-google-method-id: displayvideo.media.download
components:
  schemas:
    GoogleBytestreamMedia:
      type: object
      description: Media resource.
      properties:
        resourceName:
          type: string
          description: Name of the media resource.
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Authorization and token endpoints read from https://accounts.google.com/.well-known/openid-configuration.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          refreshUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/doubleclickbidmanager: View and manage your reports in DoubleClick Bid Manager
            https://www.googleapis.com/auth/display-video-user-management: 'Private Service: https://www.googleapis.com/auth/display-video-user-management'
            https://www.googleapis.com/auth/display-video: Create, see, edit, and permanently delete your Display & Video 360 entities and reports
            https://www.googleapis.com/auth/display-video-mediaplanning: Create, see, and edit Display & Video 360 Campaign entities and see billing invoices
