openapi: 3.2.0
info:
  title: Google Display & Video 360 Guaranteed Orders API
  description: Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items. Derived mechanically from the first-party Google API Discovery Document at https://displayvideo.googleapis.com/$discovery/rest?version=v4 (revision 20260813).
  version: v4
  contact:
    name: Google
    url: https://developers.google.com/display-video/
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
  x-google-discovery-revision: '20260813'
  x-google-discovery-document: https://displayvideo.googleapis.com/$discovery/rest?version=v4
servers:
- url: https://displayvideo.googleapis.com
  description: Display & Video 360 API server
security:
- oauth2:
  - https://www.googleapis.com/auth/display-video
tags:
- name: Guaranteed Orders
paths:
  /v4/guaranteedOrders:
    post:
      operationId: guaranteedOrdersCreate
      summary: Creates a new guaranteed order.
      description: Creates a new guaranteed order. Returns the newly created guaranteed order if successful.
      tags:
      - Guaranteed Orders
      parameters:
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that the request is being made within.
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that the request is being made within.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuaranteedOrder'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuaranteedOrder'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.guaranteedOrders.create
    get:
      operationId: guaranteedOrdersList
      summary: Lists guaranteed orders that are accessible to the current user.
      description: Lists guaranteed orders that are accessible to the current user. The order is defined by the order_by parameter. If a filter by entity_status is not specified, guaranteed orders with entity status `ENTITY_STATUS_ARCHIVED` will not be included in the results.
      tags:
      - Guaranteed Orders
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListGuaranteedOrders` method. If not specified, the first page of results will be returned.
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by guaranteed order fields. * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `guaranteed_order_id` * `exchange` * `display_name` * `status.entityStatus` Examples: * All active guaranteed orders: `status.entityStatus="ENTITY_STATUS_ACTIVE"` * Guaranteed orders belonging to Google Ad Manager or Rubicon exchanges: `exchange="EXCHANGE_GOOGLE_AD_MANAGER" OR exchange="EXCHANGE_RUBICON"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.'
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that has access to the guaranteed order.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that has access to the guaranteed order.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. For example, `displayName desc`.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGuaranteedOrdersResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.guaranteedOrders.list
  /v4/guaranteedOrders/{guaranteedOrdersId}:editGuaranteedOrderReadAccessors:
    post:
      operationId: guaranteedOrdersEditGuaranteedOrderReadAccessors
      summary: Edits read advertisers of a guaranteed order.
      description: Edits read advertisers of a guaranteed order.
      tags:
      - Guaranteed Orders
      parameters:
      - name: guaranteedOrderId
        in: path
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the guaranteed order to edit. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditGuaranteedOrderReadAccessorsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditGuaranteedOrderReadAccessorsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.guaranteedOrders.editGuaranteedOrderReadAccessors
  /v4/guaranteedOrders/{guaranteedOrdersId}:
    get:
      operationId: guaranteedOrdersGet
      summary: Gets a guaranteed order.
      description: Gets a guaranteed order.
      tags:
      - Guaranteed Orders
      parameters:
      - name: guaranteedOrderId
        in: path
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the guaranteed order to fetch. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`
        required: true
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that has access to the guaranteed order.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that has access to the guaranteed order.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuaranteedOrder'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.guaranteedOrders.get
    patch:
      operationId: guaranteedOrdersPatch
      summary: Updates an existing guaranteed order.
      description: Updates an existing guaranteed order. Returns the updated guaranteed order if successful.
      tags:
      - Guaranteed Orders
      parameters:
      - name: guaranteedOrderId
        in: path
        schema:
          type: string
          pattern: ^[^/]+$
        description: Output only. The unique identifier of the guaranteed order. The guaranteed order IDs have the format `{exchange}-{legacy_guaranteed_order_id}`.
        required: true
      - name: updateMask
        in: query
        schema:
          type: string
          format: google-fieldmask
        description: Required. The mask to control which fields to update.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that the request is being made within.
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that the request is being made within.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuaranteedOrder'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuaranteedOrder'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.guaranteedOrders.patch
components:
  schemas:
    EditGuaranteedOrderReadAccessorsRequest:
      type: object
      description: Request message for GuaranteedOrderService.EditGuaranteedOrderReadAccessors.
      properties:
        partnerId:
          type: string
          format: int64
          description: Required. The partner context in which the change is being made.
        readAccessInherited:
          type: boolean
          description: Whether to give all advertisers of the read/write accessor partner read access to the guaranteed order. Only applicable if read_write_partner_id is set in the guaranteed order.
        addedAdvertisers:
          type: array
          description: The advertisers to add as read accessors to the guaranteed order.
          items:
            type: string
            format: int64
        removedAdvertisers:
          type: array
          description: The advertisers to remove as read accessors to the guaranteed order.
          items:
            type: string
            format: int64
    GuaranteedOrderStatus:
      type: object
      description: The status settings of the guaranteed order.
      properties:
        entityPauseReason:
          type: string
          description: The user-provided reason for pausing this guaranteed order. Must be UTF-8 encoded with a maximum length of 100 bytes. Only applicable when entity_status is set to `ENTITY_STATUS_PAUSED`.
        entityStatus:
          type: string
          description: 'Whether or not the guaranteed order is servable. Acceptable values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_ARCHIVED`, and `ENTITY_STATUS_PAUSED`. Default value is `ENTITY_STATUS_ACTIVE`. Allowed values — `ENTITY_STATUS_UNSPECIFIED`: Default value when status is not specified or is unknown in this version.; `ENTITY_STATUS_ACTIVE`: The entity is enabled to bid and spend budget.; `ENTITY_STATUS_ARCHIVED`: The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.; `ENTITY_STATUS_DRAFT`: The entity is under draft. Bidding and budget spending are disabled.; `ENTITY_STATUS_PAUSED`: Bidding and budget spending are paused for the entity.; `ENTITY_STATUS_SCHEDULED_FOR_DELETION`: The entity is scheduled for deletion.'
          enum:
          - ENTITY_STATUS_UNSPECIFIED
          - ENTITY_STATUS_ACTIVE
          - ENTITY_STATUS_ARCHIVED
          - ENTITY_STATUS_DRAFT
          - ENTITY_STATUS_PAUSED
          - ENTITY_STATUS_SCHEDULED_FOR_DELETION
        configStatus:
          type: string
          description: 'Output only. The configuration status of the guaranteed order. Acceptable values are `PENDING` and `COMPLETED`. A guaranteed order must be configured (fill in the required fields, choose creatives, and select a default campaign) before it can serve. Currently the configuration action can only be performed via UI. Allowed values — `GUARANTEED_ORDER_CONFIG_STATUS_UNSPECIFIED`: The approval status is not specified or is unknown in this version.; `PENDING`: The beginning state of a guaranteed order. The guaranteed order in this state needs to be configured before it can serve.; `COMPLETED`: The state after the buyer configures a guaranteed order.'
          enum:
          - GUARANTEED_ORDER_CONFIG_STATUS_UNSPECIFIED
          - PENDING
          - COMPLETED
          readOnly: true
    EditGuaranteedOrderReadAccessorsResponse:
      type: object
      properties:
        readAccessInherited:
          type: boolean
          description: Whether all advertisers of read_write_partner_id have read access to the guaranteed order.
        readAdvertiserIds:
          type: array
          description: The IDs of advertisers with read access to the guaranteed order.
          items:
            type: string
            format: int64
    ListGuaranteedOrdersResponse:
      type: object
      properties:
        nextPageToken:
          type: string
          description: A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListGuaranteedOrders` method to retrieve the next page of results.
        guaranteedOrders:
          type: array
          description: The list of guaranteed orders. This list will be absent if empty.
          items:
            $ref: '#/components/schemas/GuaranteedOrder'
    GuaranteedOrder:
      type: object
      description: A guaranteed order. Guaranteed orders are parent entity of guaranteed inventory sources. When creating a guaranteed inventory source, a guaranteed order ID must be assigned to the inventory source.
      properties:
        defaultCampaignId:
          type: string
          format: int64
          description: The ID of the default campaign that is assigned to the guaranteed order. The default campaign must belong to the default advertiser.
        readWritePartnerId:
          type: string
          format: int64
          description: The partner with read/write access to the guaranteed order.
        readAdvertiserIds:
          type: array
          description: The IDs of advertisers with read access to the guaranteed order. This field must not include the advertiser assigned to read_write_advertiser_id if it is set. All advertisers in this field must belong to read_write_partner_id or the same partner as read_write_advertiser_id.
          items:
            type: string
            format: int64
        displayName:
          type: string
          description: Required. The display name of the guaranteed order. Must be UTF-8 encoded with a maximum size of 240 bytes.
        publisherName:
          type: string
          description: Required. The publisher name of the guaranteed order. Must be UTF-8 encoded with a maximum size of 240 bytes.
        name:
          type: string
          description: Output only. The resource name of the guaranteed order.
          readOnly: true
        legacyGuaranteedOrderId:
          type: string
          description: Output only. The legacy ID of the guaranteed order. Assigned by the original exchange. The legacy ID is unique within one exchange, but is not guaranteed to be unique across all guaranteed orders. This ID is used in SDF and UI.
          readOnly: true
        updateTime:
          type: string
          format: google-datetime
          description: Output only. The timestamp when the guaranteed order was last updated. Assigned by the system.
          readOnly: true
        exchange:
          type: string
          description: 'Required. Immutable. The exchange where the guaranteed order originated. Allowed values — `EXCHANGE_UNSPECIFIED`: Exchange is not specified or is unknown in this version.; `EXCHANGE_GOOGLE_AD_MANAGER`: Google Ad Manager.; `EXCHANGE_APPNEXUS`: AppNexus.; `EXCHANGE_BRIGHTROLL`: BrightRoll Exchange for Video from Yahoo!.; `EXCHANGE_ADFORM`: Adform.; `EXCHANGE_ADMETA`: Admeta.; `EXCHANGE_ADMIXER`: Admixer.; `EXCHANGE_ADSMOGO`: AdsMogo.; `EXCHANGE_ADSWIZZ`: AdsWizz.; `EXCHANGE_BIDSWITCH`: BidSwitch.; `EXCHANGE_BRIGHTROLL_DISPLAY`: BrightRoll Exchange for Display from Yahoo!.; `EXCHANGE_CADREON`: Cadreon.; `EXCHANGE_DAILYMOTION`: Dailymotion.; `EXCHANGE_FIVE`: Five.; `EXCHANGE_FLUCT`: Fluct.; `EXCHANGE_FREEWHEEL`: FreeWheel SSP.; `EXCHANGE_GENIEE`: Geniee.; `EXCHANGE_GUMGUM`: GumGum.; `EXCHANGE_IMOBILE`: i-mobile.; `EXCHANGE_IBILLBOARD`: iBILLBOARD.; `EXCHANGE_IMPROVE_DIGITAL`: Improve Digital.; `EXCHANGE_INDEX`: Index Exchange.; `EXCHANGE_KARGO`: Kargo.; `EXCHANGE_MICROAD`: MicroAd.; `EXCHANGE_MOPUB`: MoPub.; `EXCHANGE_NEND`: Nend.; `EXCHANGE_ONE_BY_AOL_DISPLAY`: ONE by AOL: Display Market Place.; `EXCHANGE_ONE_BY_AOL_MOBILE`: ONE by AOL: Mobile.; `EXCHANGE_ONE_BY_AOL_VIDEO`: ONE by AOL: Video.; `EXCHANGE_OOYALA`: Ooyala.; `EXCHANGE_OPENX`: OpenX.; `EXCHANGE_PERMODO`: Permodo.; `EXCHANGE_PLATFORMONE`: Platform One.; `EXCHANGE_PLATFORMID`: PlatformId.; `EXCHANGE_PUBMATIC`: PubMatic.; `EXCHANGE_PULSEPOINT`: PulsePoint.; `EXCHANGE_REVENUEMAX`: RevenueMax.; `EXCHANGE_RUBICON`: Rubicon.; `EXCHANGE_SMARTCLIP`: SmartClip.; `EXCHANGE_SMARTRTB`: SmartRTB+.; `EXCHANGE_SMARTSTREAMTV`: SmartstreamTv.; `EXCHANGE_SOVRN`: Sovrn.; `EXCHANGE_SPOTXCHANGE`: SpotXchange.; `EXCHANGE_STROER`: Ströer SSP.; `EXCHANGE_TEADSTV`: TeadsTv.; `EXCHANGE_TELARIA`: Telaria.; `EXCHANGE_TVN`: TVN.; `EXCHANGE_UNITED`: United.; `EXCHANGE_YIELDLAB`: Yieldlab.; `EXCHANGE_YIELDMO`: Yieldmo.; `EXCHANGE_UNRULYX`: UnrulyX.; `EXCHANGE_OPEN8`: Open8.; `EXCHANGE_TRITON`: Triton.; `EXCHANGE_TRIPLELIFT`: TripleLift.; `EXCHANGE_TABOOLA`: Taboola.; `EXCHANGE_INMOBI`: InMobi.; `EXCHANGE_SMAATO`: Smaato.; `EXCHANGE_AJA`: Aja.; `EXCHANGE_SUPERSHIP`: Supership.; `EXCHANGE_NEXSTAR_DIGITAL`: Nexstar Digital.; `EXCHANGE_WAZE`: Waze.; `EXCHANGE_SOUNDCAST`: SoundCast.; `EXCHANGE_SHARETHROUGH`: Sharethrough.; `EXCHANGE_FYBER`: Fyber.; `EXCHANGE_RED_FOR_PUBLISHERS`: Red For Publishers.; `EXCHANGE_MEDIANET`: Media.net.; `EXCHANGE_TAPJOY`: Tapjoy.; `EXCHANGE_VISTAR`: Vistar.; `EXCHANGE_DAX`: DAX.; `EXCHANGE_JCD`: JCD.; `EXCHANGE_PLACE_EXCHANGE`: Place Exchange.; `EXCHANGE_APPLOVIN`: AppLovin.; `EXCHANGE_CONNATIX`: Connatix.; `EXCHANGE_RESET_DIGITAL`: Reset Digital.; `EXCHANGE_HIVESTACK`: Hivestack.; `EXCHANGE_DRAX`: Drax.; `EXCHANGE_APPLOVIN_GBID`: AppLovin MAX.; `EXCHANGE_FYBER_GBID`: DT Fairbid.; `EXCHANGE_UNITY_GBID`: Unity LevelPlay.; `EXCHANGE_CHARTBOOST_GBID`: Chartboost Mediation.; `EXCHANGE_ADMOST_GBID`: AdMost.; `EXCHANGE_TOPON_GBID`: TopOn.; `EXCHANGE_NETFLIX`: Netflix.; `EXCHANGE_CORE`: Core.; `EXCHANGE_COMMERCE_GRID`: Commerce Grid.; `EXCHANGE_SPOTIFY`: Spotify.; `EXCHANGE_TUBI`: Tubi.; `EXCHANGE_SNAP`: Snap.; `EXCHANGE_CADENT`: Cadent.; `EXCHANGE_EXTE`: Exte.'
          enum:
          - EXCHANGE_UNSPECIFIED
          - EXCHANGE_GOOGLE_AD_MANAGER
          - EXCHANGE_APPNEXUS
          - EXCHANGE_BRIGHTROLL
          - EXCHANGE_ADFORM
          - EXCHANGE_ADMETA
          - EXCHANGE_ADMIXER
          - EXCHANGE_ADSMOGO
          - EXCHANGE_ADSWIZZ
          - EXCHANGE_BIDSWITCH
          - EXCHANGE_BRIGHTROLL_DISPLAY
          - EXCHANGE_CADREON
          - EXCHANGE_DAILYMOTION
          - EXCHANGE_FIVE
          - EXCHANGE_FLUCT
          - EXCHANGE_FREEWHEEL
          - EXCHANGE_GENIEE
          - EXCHANGE_GUMGUM
          - EXCHANGE_IMOBILE
          - EXCHANGE_IBILLBOARD
          - EXCHANGE_IMPROVE_DIGITAL
          - EXCHANGE_INDEX
          - EXCHANGE_KARGO
          - EXCHANGE_MICROAD
          - EXCHANGE_MOPUB
          - EXCHANGE_NEND
          - EXCHANGE_ONE_BY_AOL_DISPLAY
          - EXCHANGE_ONE_BY_AOL_MOBILE
          - EXCHANGE_ONE_BY_AOL_VIDEO
          - EXCHANGE_OOYALA
          - EXCHANGE_OPENX
          - EXCHANGE_PERMODO
          - EXCHANGE_PLATFORMONE
          - EXCHANGE_PLATFORMID
          - EXCHANGE_PUBMATIC
          - EXCHANGE_PULSEPOINT
          - EXCHANGE_REVENUEMAX
          - EXCHANGE_RUBICON
          - EXCHANGE_SMARTCLIP
          - EXCHANGE_SMARTRTB
          - EXCHANGE_SMARTSTREAMTV
          - EXCHANGE_SOVRN
          - EXCHANGE_SPOTXCHANGE
          - EXCHANGE_STROER
          - EXCHANGE_TEADSTV
          - EXCHANGE_TELARIA
          - EXCHANGE_TVN
          - EXCHANGE_UNITED
          - EXCHANGE_YIELDLAB
          - EXCHANGE_YIELDMO
          - EXCHANGE_UNRULYX
          - EXCHANGE_OPEN8
          - EXCHANGE_TRITON
          - EXCHANGE_TRIPLELIFT
          - EXCHANGE_TABOOLA
          - EXCHANGE_INMOBI
          - EXCHANGE_SMAATO
          - EXCHANGE_AJA
          - EXCHANGE_SUPERSHIP
          - EXCHANGE_NEXSTAR_DIGITAL
          - EXCHANGE_WAZE
          - EXCHANGE_SOUNDCAST
          - EXCHANGE_SHARETHROUGH
          - EXCHANGE_FYBER
          - EXCHANGE_RED_FOR_PUBLISHERS
          - EXCHANGE_MEDIANET
          - EXCHANGE_TAPJOY
          - EXCHANGE_VISTAR
          - EXCHANGE_DAX
          - EXCHANGE_JCD
          - EXCHANGE_PLACE_EXCHANGE
          - EXCHANGE_APPLOVIN
          - EXCHANGE_CONNATIX
          - EXCHANGE_RESET_DIGITAL
          - EXCHANGE_HIVESTACK
          - EXCHANGE_DRAX
          - EXCHANGE_APPLOVIN_GBID
          - EXCHANGE_FYBER_GBID
          - EXCHANGE_UNITY_GBID
          - EXCHANGE_CHARTBOOST_GBID
          - EXCHANGE_ADMOST_GBID
          - EXCHANGE_TOPON_GBID
          - EXCHANGE_NETFLIX
          - EXCHANGE_CORE
          - EXCHANGE_COMMERCE_GRID
          - EXCHANGE_SPOTIFY
          - EXCHANGE_TUBI
          - EXCHANGE_SNAP
          - EXCHANGE_CADENT
          - EXCHANGE_EXTE
        readWriteAdvertiserId:
          type: string
          format: int64
          description: The advertiser with read/write access to the guaranteed order. This is also the default advertiser of the guaranteed order.
        readAccessInherited:
          type: boolean
          description: Whether all advertisers of read_write_partner_id have read access to the guaranteed order. Only applicable if read_write_partner_id is set. If True, overrides read_advertiser_ids.
        guaranteedOrderId:
          type: string
          description: Output only. The unique identifier of the guaranteed order. The guaranteed order IDs have the format `{exchange}-{legacy_guaranteed_order_id}`.
          readOnly: true
        status:
          $ref: '#/components/schemas/GuaranteedOrderStatus'
        defaultAdvertiserId:
          type: string
          format: int64
          description: Output only. The ID of default advertiser of the guaranteed order. The default advertiser is either the read_write_advertiser_id or, if that is not set, the first advertiser listed in read_advertiser_ids. Otherwise, there is no default advertiser.
          readOnly: true
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0. Authorization and token endpoints read from https://accounts.google.com/.well-known/openid-configuration.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          refreshUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/doubleclickbidmanager: View and manage your reports in DoubleClick Bid Manager
            https://www.googleapis.com/auth/display-video-user-management: 'Private Service: https://www.googleapis.com/auth/display-video-user-management'
            https://www.googleapis.com/auth/display-video: Create, see, edit, and permanently delete your Display & Video 360 entities and reports
            https://www.googleapis.com/auth/display-video-mediaplanning: Create, see, and edit Display & Video 360 Campaign entities and see billing invoices
