openapi: 3.2.0
info:
  title: Google Display & Video 360 Partners API
  description: Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items. Derived mechanically from the first-party Google API Discovery Document at https://displayvideo.googleapis.com/$discovery/rest?version=v4 (revision 20260813).
  version: v4
  contact:
    name: Google
    url: https://developers.google.com/display-video/
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
  x-google-discovery-revision: '20260813'
  x-google-discovery-document: https://displayvideo.googleapis.com/$discovery/rest?version=v4
servers:
- url: https://displayvideo.googleapis.com
  description: Display & Video 360 API server
security:
- oauth2:
  - https://www.googleapis.com/auth/display-video
tags:
- name: Partners
paths:
  /v4/partners/{partnersId}:
    get:
      operationId: partnersGet
      summary: Gets a partner.
      description: Gets a partner.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the partner to fetch.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partner'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.get
  /v4/partners:
    get:
      operationId: partnersList
      summary: Lists partners that are accessible to the current user.
      description: Lists partners that are accessible to the current user. The order is defined by the order_by parameter.
      tags:
      - Partners
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. For example, `displayName desc`.'
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartners` method. If not specified, the first page of results will be returned.
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by partner fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `entityStatus` Examples: * All active partners: `entityStatus="ENTITY_STATUS_ACTIVE"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPartnersResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.list
  /v4/partners/{partnersId}:editAssignedTargetingOptions:
    post:
      operationId: partnersEditAssignedTargetingOptions
      summary: Edits targeting options under a single partner.
      description: Edits targeting options under a single partner. The operation will delete the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.deleteRequests and then create the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.createRequests .
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the partner.
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEditPartnerAssignedTargetingOptionsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEditPartnerAssignedTargetingOptionsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.editAssignedTargetingOptions
  /v4/partners/{partnersId}/channels:
    post:
      operationId: partnersChannelsCreate
      summary: Creates a new channel.
      description: Creates a new channel. Returns the newly created channel if successful.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: The ID of the partner that owns the created channel.
        required: true
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the created channel.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.channels.create
    get:
      operationId: partnersChannelsList
      summary: Lists channels for a partner or advertiser.
      description: Lists channels for a partner or advertiser.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: The ID of the partner that owns the channels.
        required: true
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by channel fields. Supported syntax: * Filter expressions for channel can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All channels for which the display name contains "google": `displayName : "google"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.'
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListChannels` method. If not specified, the first page of results will be returned.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the channels.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix " desc" should be added to the field name. Example: `displayName desc`.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.channels.list
  /v4/partners/{partnersId}/channels/{channelId}:
    patch:
      operationId: partnersChannelsPatch
      summary: Updates a channel.
      description: Updates a channel. Returns the updated channel if successful.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: The ID of the partner that owns the created channel.
        required: true
      - name: channelId
        in: path
        schema:
          type: string
          format: int64
        description: Output only. The unique ID of the channel. Assigned by the system.
        required: true
      - name: updateMask
        in: query
        schema:
          type: string
          format: google-fieldmask
        description: Required. The mask to control which fields to update.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the created channel.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.channels.patch
  /v4/partners/{partnersId}/channels/{channelsId}:
    get:
      operationId: partnersChannelsGet
      summary: Gets a channel for a partner or advertiser.
      description: Gets a channel for a partner or advertiser.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: The ID of the partner that owns the fetched channel.
        required: true
      - name: channelId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the channel to fetch.
        required: true
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the fetched channel.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.channels.get
  /v4/partners/{partnerId}/channels/{channelsId}/sites:
    post:
      operationId: partnersChannelsSitesCreate
      summary: Creates a site in a channel.
      description: Creates a site in a channel.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
        description: The ID of the partner that owns the parent channel.
        required: true
      - name: channelId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the parent channel in which the site will be created.
        required: true
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the parent channel.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Site'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.channels.sites.create
  /v4/partners/{partnerId}/channels/{channelsId}/sites:replace:
    post:
      operationId: partnersChannelsSitesReplace
      summary: Replaces all of the sites under a single channel.
      description: Replaces all of the sites under a single channel. The operation will replace the sites under a channel with the sites provided in ReplaceSitesRequest.new_sites. **This method regularly experiences high latency.** We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout) to avoid errors.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
        description: The ID of the partner that owns the parent channel.
        required: true
      - name: channelId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the parent channel whose sites will be replaced.
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceSitesRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceSitesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.channels.sites.replace
  /v4/partners/{partnerId}/channels/{channelsId}/sites/{sitesId}:
    delete:
      operationId: partnersChannelsSitesDelete
      summary: Deletes a site from a channel.
      description: Deletes a site from a channel.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
        description: The ID of the partner that owns the parent channel.
        required: true
      - name: channelId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the parent channel to which the site belongs.
        required: true
      - name: urlOrAppId
        in: path
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The URL or app ID of the site to delete.
        required: true
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the parent channel.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.channels.sites.delete
  /v4/partners/{partnerId}/channels/{channelsId}/sites:bulkEdit:
    post:
      operationId: partnersChannelsSitesBulkEdit
      summary: Bulk edits sites under a single channel.
      description: Bulk edits sites under a single channel. The operation will delete the sites provided in BulkEditSitesRequest.deleted_sites and then create the sites provided in BulkEditSitesRequest.created_sites.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
        description: The ID of the partner that owns the parent channel.
        required: true
      - name: channelId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the parent channel to which the sites belong.
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEditSitesRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEditSitesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.channels.sites.bulkEdit
  /v4/partners/{partnersId}/channels/{channelsId}/sites:
    get:
      operationId: partnersChannelsSitesList
      summary: Lists sites in a channel.
      description: Lists sites in a channel.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: The ID of the partner that owns the parent channel.
        required: true
      - name: channelId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the parent channel to which the requested sites belong.
        required: true
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by site fields. Supported syntax: * Filter expressions for site retrieval can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `urlOrAppId` Examples: * All sites for which the URL or app ID contains "google": `urlOrAppId : "google"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.'
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListSites` method. If not specified, the first page of results will be returned.
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `10000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the parent channel.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `urlOrAppId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix " desc" should be added to the field name. Example: `urlOrAppId desc`.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSitesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.channels.sites.list
  /v4/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions:
    post:
      operationId: partnersTargetingTypesAssignedTargetingOptionsCreate
      summary: Assigns a targeting option to a partner.
      description: Assigns a targeting option to a partner. Returns the assigned targeting option if successful.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the partner.
        required: true
      - name: targetingType
        in: path
        schema:
          type: string
          enum:
          - TARGETING_TYPE_UNSPECIFIED
          - TARGETING_TYPE_CHANNEL
          - TARGETING_TYPE_APP_CATEGORY
          - TARGETING_TYPE_APP
          - TARGETING_TYPE_URL
          - TARGETING_TYPE_DAY_AND_TIME
          - TARGETING_TYPE_AGE_RANGE
          - TARGETING_TYPE_REGIONAL_LOCATION_LIST
          - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
          - TARGETING_TYPE_GENDER
          - TARGETING_TYPE_VIDEO_PLAYER_SIZE
          - TARGETING_TYPE_USER_REWARDED_CONTENT
          - TARGETING_TYPE_PARENTAL_STATUS
          - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
          - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
          - TARGETING_TYPE_DEVICE_TYPE
          - TARGETING_TYPE_AUDIENCE_GROUP
          - TARGETING_TYPE_BROWSER
          - TARGETING_TYPE_HOUSEHOLD_INCOME
          - TARGETING_TYPE_ON_SCREEN_POSITION
          - TARGETING_TYPE_THIRD_PARTY_VERIFIER
          - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
          - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
          - TARGETING_TYPE_ENVIRONMENT
          - TARGETING_TYPE_CARRIER_AND_ISP
          - TARGETING_TYPE_OPERATING_SYSTEM
          - TARGETING_TYPE_DEVICE_MAKE_MODEL
          - TARGETING_TYPE_KEYWORD
          - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
          - TARGETING_TYPE_VIEWABILITY
          - TARGETING_TYPE_CATEGORY
          - TARGETING_TYPE_INVENTORY_SOURCE
          - TARGETING_TYPE_LANGUAGE
          - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
          - TARGETING_TYPE_GEO_REGION
          - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
          - TARGETING_TYPE_EXCHANGE
          - TARGETING_TYPE_SUB_EXCHANGE
          - TARGETING_TYPE_POI
          - TARGETING_TYPE_BUSINESS_CHAIN
          - TARGETING_TYPE_CONTENT_DURATION
          - TARGETING_TYPE_CONTENT_STREAM_TYPE
          - TARGETING_TYPE_NATIVE_CONTENT_POSITION
          - TARGETING_TYPE_OMID
          - TARGETING_TYPE_AUDIO_CONTENT_TYPE
          - TARGETING_TYPE_CONTENT_GENRE
          - TARGETING_TYPE_YOUTUBE_VIDEO
          - TARGETING_TYPE_YOUTUBE_CHANNEL
          - TARGETING_TYPE_SESSION_POSITION
          - TARGETING_TYPE_CONTENT_THEME_EXCLUSION
          - TARGETING_TYPE_YOUTUBE_CHANNEL_PACK
          pattern: ^[^/]+$
        description: 'Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL` Allowed values — `TARGETING_TYPE_UNSPECIFIED`: Default value when type is not specified or is unknown in this version.; `TARGETING_TYPE_CHANNEL`: Target a channel (a custom group of related websites or apps).; `TARGETING_TYPE_APP_CATEGORY`: Target an app category (for example, education or puzzle games).; `TARGETING_TYPE_APP`: Target a specific app (for example, Angry Birds).; `TARGETING_TYPE_URL`: Target a specific url (for example, quora.com).; `TARGETING_TYPE_DAY_AND_TIME`: Target ads during a chosen time period on a specific day.; `TARGETING_TYPE_AGE_RANGE`: Target ads to a specific age range (for example, 18-24).; `TARGETING_TYPE_REGIONAL_LOCATION_LIST`: Target ads to the specified regions on a regional location list.; `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`: Target ads to the specified points of interest on a proximity location list.; `TARGETING_TYPE_GENDER`: Target ads to a specific gender (for example, female or male).; `TARGETING_TYPE_VIDEO_PLAYER_SIZE`: Target a specific video player size for video ads.; `TARGETING_TYPE_USER_REWARDED_CONTENT`: Target user rewarded content for video ads.; `TARGETING_TYPE_PARENTAL_STATUS`: Target ads to a specific parental status (for example, parent or not a parent).; `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`: Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).; `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`: Target ads in a specific content outstream position.; `TARGETING_TYPE_DEVICE_TYPE`: Target ads to a specific device type (for example, tablet or connected TV).; `TARGETING_TYPE_AUDIENCE_GROUP`: Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.; `TARGETING_TYPE_BROWSER`: Target ads to specific web browsers (for example, Chrome).; `TARGETING_TYPE_HOUSEHOLD_INCOME`: Target ads to a specific household income range (for example, top 10%).; `TARGETING_TYPE_ON_SCREEN_POSITION`: Target ads in a specific on screen position.; `TARGETING_TYPE_THIRD_PARTY_VERIFIER`: Filter web sites through third party verification (for example, IAS or DoubleVerify).; `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`: Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).; `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`: Filter website content by sensitive categories (for example, adult).; `TARGETING_TYPE_ENVIRONMENT`: Target ads to a specific environment (for example, web or app).; `TARGETING_TYPE_CARRIER_AND_ISP`: Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).; `TARGETING_TYPE_OPERATING_SYSTEM`: Target ads to a specific operating system (for example, macOS).; `TARGETING_TYPE_DEVICE_MAKE_MODEL`: Target ads to a specific device make or model (for example, Roku or Samsung).; `TARGETING_TYPE_KEYWORD`: Target ads to a specific keyword (for example, dog or retriever).; `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`: Target ads to a specific negative keyword list.; `TARGETING_TYPE_VIEWABILITY`: Target ads to a specific viewability (for example, 80% viewable).; `TARGETING_TYPE_CATEGORY`: Target ads to a specific content category (for example, arts & entertainment).; `TARGETING_TYPE_INVENTORY_SOURCE`: Purchase impressions from specific deals and auction packages.; `TARGETING_TYPE_LANGUAGE`: Target ads to a specific language (for example, English or Japanese).; `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`: Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the "Authorized Direct Sellers and Resellers" option by default.; `TARGETING_TYPE_GEO_REGION`: Target ads to a specific regional location (for example, a city or state).; `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`: Purchase impressions from a group of deals and auction packages.; `TARGETING_TYPE_EXCHANGE`: Purchase impressions from specific exchanges.; `TARGETING_TYPE_SUB_EXCHANGE`: Purchase impressions from specific sub-exchanges.; `TARGETING_TYPE_POI`: Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.; `TARGETING_TYPE_BUSINESS_CHAIN`: Target ads around locations of a business chain within a specific geo region.; `TARGETING_TYPE_CONTENT_DURATION`: Target ads to a specific video content duration.; `TARGETING_TYPE_CONTENT_STREAM_TYPE`: Target ads to a specific video content stream type.; `TARGETING_TYPE_NATIVE_CONTENT_POSITION`: Target ads to a specific native content position.; `TARGETING_TYPE_OMID`: Target ads in an Open Measurement enabled inventory.; `TARGETING_TYPE_AUDIO_CONTENT_TYPE`: Target ads to a specific audio content type.; `TARGETING_TYPE_CONTENT_GENRE`: Target ads to a specific content genre.; `TARGETING_TYPE_YOUTUBE_VIDEO`: Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.; `TARGETING_TYPE_YOUTUBE_CHANNEL`: Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.; `TARGETING_TYPE_SESSION_POSITION`: Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.; `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`: Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.; `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`: Target ads to a specific YouTube channel pack.'
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignedTargetingOption'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignedTargetingOption'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.targetingTypes.assignedTargetingOptions.create
    get:
      operationId: partnersTargetingTypesAssignedTargetingOptionsList
      summary: Lists the targeting options assigned to a partner.
      description: Lists the targeting options assigned to a partner.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the partner.
        required: true
      - name: targetingType
        in: path
        schema:
          type: string
          enum:
          - TARGETING_TYPE_UNSPECIFIED
          - TARGETING_TYPE_CHANNEL
          - TARGETING_TYPE_APP_CATEGORY
          - TARGETING_TYPE_APP
          - TARGETING_TYPE_URL
          - TARGETING_TYPE_DAY_AND_TIME
          - TARGETING_TYPE_AGE_RANGE
          - TARGETING_TYPE_REGIONAL_LOCATION_LIST
          - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
          - TARGETING_TYPE_GENDER
          - TARGETING_TYPE_VIDEO_PLAYER_SIZE
          - TARGETING_TYPE_USER_REWARDED_CONTENT
          - TARGETING_TYPE_PARENTAL_STATUS
          - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
          - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
          - TARGETING_TYPE_DEVICE_TYPE
          - TARGETING_TYPE_AUDIENCE_GROUP
          - TARGETING_TYPE_BROWSER
          - TARGETING_TYPE_HOUSEHOLD_INCOME
          - TARGETING_TYPE_ON_SCREEN_POSITION
          - TARGETING_TYPE_THIRD_PARTY_VERIFIER
          - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
          - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
          - TARGETING_TYPE_ENVIRONMENT
          - TARGETING_TYPE_CARRIER_AND_ISP
          - TARGETING_TYPE_OPERATING_SYSTEM
          - TARGETING_TYPE_DEVICE_MAKE_MODEL
          - TARGETING_TYPE_KEYWORD
          - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
          - TARGETING_TYPE_VIEWABILITY
          - TARGETING_TYPE_CATEGORY
          - TARGETING_TYPE_INVENTORY_SOURCE
          - TARGETING_TYPE_LANGUAGE
          - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
          - TARGETING_TYPE_GEO_REGION
          - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
          - TARGETING_TYPE_EXCHANGE
          - TARGETING_TYPE_SUB_EXCHANGE
          - TARGETING_TYPE_POI
          - TARGETING_TYPE_BUSINESS_CHAIN
          - TARGETING_TYPE_CONTENT_DURATION
          - TARGETING_TYPE_CONTENT_STREAM_TYPE
          - TARGETING_TYPE_NATIVE_CONTENT_POSITION
          - TARGETING_TYPE_OMID
          - TARGETING_TYPE_AUDIO_CONTENT_TYPE
          - TARGETING_TYPE_CONTENT_GENRE
          - TARGETING_TYPE_YOUTUBE_VIDEO
          - TARGETING_TYPE_YOUTUBE_CHANNEL
          - TARGETING_TYPE_SESSION_POSITION
          - TARGETING_TYPE_CONTENT_THEME_EXCLUSION
          - TARGETING_TYPE_YOUTUBE_CHANNEL_PACK
          pattern: ^[^/]+$
        description: 'Required. Identifies the type of assigned targeting options to list. Supported targeting types: * `TARGETING_TYPE_CHANNEL` Allowed values — `TARGETING_TYPE_UNSPECIFIED`: Default value when type is not specified or is unknown in this version.; `TARGETING_TYPE_CHANNEL`: Target a channel (a custom group of related websites or apps).; `TARGETING_TYPE_APP_CATEGORY`: Target an app category (for example, education or puzzle games).; `TARGETING_TYPE_APP`: Target a specific app (for example, Angry Birds).; `TARGETING_TYPE_URL`: Target a specific url (for example, quora.com).; `TARGETING_TYPE_DAY_AND_TIME`: Target ads during a chosen time period on a specific day.; `TARGETING_TYPE_AGE_RANGE`: Target ads to a specific age range (for example, 18-24).; `TARGETING_TYPE_REGIONAL_LOCATION_LIST`: Target ads to the specified regions on a regional location list.; `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`: Target ads to the specified points of interest on a proximity location list.; `TARGETING_TYPE_GENDER`: Target ads to a specific gender (for example, female or male).; `TARGETING_TYPE_VIDEO_PLAYER_SIZE`: Target a specific video player size for video ads.; `TARGETING_TYPE_USER_REWARDED_CONTENT`: Target user rewarded content for video ads.; `TARGETING_TYPE_PARENTAL_STATUS`: Target ads to a specific parental status (for example, parent or not a parent).; `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`: Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).; `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`: Target ads in a specific content outstream position.; `TARGETING_TYPE_DEVICE_TYPE`: Target ads to a specific device type (for example, tablet or connected TV).; `TARGETING_TYPE_AUDIENCE_GROUP`: Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.; `TARGETING_TYPE_BROWSER`: Target ads to specific web browsers (for example, Chrome).; `TARGETING_TYPE_HOUSEHOLD_INCOME`: Target ads to a specific household income range (for example, top 10%).; `TARGETING_TYPE_ON_SCREEN_POSITION`: Target ads in a specific on screen position.; `TARGETING_TYPE_THIRD_PARTY_VERIFIER`: Filter web sites through third party verification (for example, IAS or DoubleVerify).; `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`: Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).; `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`: Filter website content by sensitive categories (for example, adult).; `TARGETING_TYPE_ENVIRONMENT`: Target ads to a specific environment (for example, web or app).; `TARGETING_TYPE_CARRIER_AND_ISP`: Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).; `TARGETING_TYPE_OPERATING_SYSTEM`: Target ads to a specific operating system (for example, macOS).; `TARGETING_TYPE_DEVICE_MAKE_MODEL`: Target ads to a specific device make or model (for example, Roku or Samsung).; `TARGETING_TYPE_KEYWORD`: Target ads to a specific keyword (for example, dog or retriever).; `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`: Target ads to a specific negative keyword list.; `TARGETING_TYPE_VIEWABILITY`: Target ads to a specific viewability (for example, 80% viewable).; `TARGETING_TYPE_CATEGORY`: Target ads to a specific content category (for example, arts & entertainment).; `TARGETING_TYPE_INVENTORY_SOURCE`: Purchase impressions from specific deals and auction packages.; `TARGETING_TYPE_LANGUAGE`: Target ads to a specific language (for example, English or Japanese).; `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`: Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the "Authorized Direct Sellers and Resellers" option by default.; `TARGETING_TYPE_GEO_REGION`: Target ads to a specific regional location (for example, a city or state).; `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`: Purchase impressions from a group of deals and auction packages.; `TARGETING_TYPE_EXCHANGE`: Purchase impressions from specific exchanges.; `TARGETING_TYPE_SUB_EXCHANGE`: Purchase impressions from specific sub-exchanges.; `TARGETING_TYPE_POI`: Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.; `TARGETING_TYPE_BUSINESS_CHAIN`: Target ads around locations of a business chain within a specific geo region.; `TARGETING_TYPE_CONTENT_DURATION`: Target ads to a specific video content duration.; `TARGETING_TYPE_CONTENT_STREAM_TYPE`: Target ads to a specific video content stream type.; `TARGETING_TYPE_NATIVE_CONTENT_POSITION`: Target ads to a specific native content position.; `TARGETING_TYPE_OMID`: Target ads in an Open Measurement enabled inventory.; `TARGETING_TYPE_AUDIO_CONTENT_TYPE`: Target ads to a specific audio content type.; `TARGETING_TYPE_CONTENT_GENRE`: Target ads to a specific content genre.; `TARGETING_TYPE_YOUTUBE_VIDEO`: Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.; `TARGETING_TYPE_YOUTUBE_CHANNEL`: Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.; `TARGETING_TYPE_SESSION_POSITION`: Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.; `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`: Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.; `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`: Target ads to a specific YouTube channel pack.'
        required: true
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedTargetingOptionId` Examples: * `AssignedTargetingOption` resource with ID 123456: `assignedTargetingOptionId="123456"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.'
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartnerAssignedTargetingOptions` method. If not specified, the first page of results will be returned.
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `assignedTargetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. Example: `assignedTargetingOptionId desc`.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPartnerAssignedTargetingOptionsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.targetingTypes.assignedTargetingOptions.list
  /v4/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}:
    get:
      operationId: partnersTargetingTypesAssignedTargetingOptionsGet
      summary: Gets a single targeting option assigned to a partner.
      description: Gets a single targeting option assigned to a partner.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the partner.
        required: true
      - name: targetingType
        in: path
        schema:
          type: string
          enum:
          - TARGETING_TYPE_UNSPECIFIED
          - TARGETING_TYPE_CHANNEL
          - TARGETING_TYPE_APP_CATEGORY
          - TARGETING_TYPE_APP
          - TARGETING_TYPE_URL
          - TARGETING_TYPE_DAY_AND_TIME
          - TARGETING_TYPE_AGE_RANGE
          - TARGETING_TYPE_REGIONAL_LOCATION_LIST
          - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
          - TARGETING_TYPE_GENDER
          - TARGETING_TYPE_VIDEO_PLAYER_SIZE
          - TARGETING_TYPE_USER_REWARDED_CONTENT
          - TARGETING_TYPE_PARENTAL_STATUS
          - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
          - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
          - TARGETING_TYPE_DEVICE_TYPE
          - TARGETING_TYPE_AUDIENCE_GROUP
          - TARGETING_TYPE_BROWSER
          - TARGETING_TYPE_HOUSEHOLD_INCOME
          - TARGETING_TYPE_ON_SCREEN_POSITION
          - TARGETING_TYPE_THIRD_PARTY_VERIFIER
          - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
          - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
          - TARGETING_TYPE_ENVIRONMENT
          - TARGETING_TYPE_CARRIER_AND_ISP
          - TARGETING_TYPE_OPERATING_SYSTEM
          - TARGETING_TYPE_DEVICE_MAKE_MODEL
          - TARGETING_TYPE_KEYWORD
          - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
          - TARGETING_TYPE_VIEWABILITY
          - TARGETING_TYPE_CATEGORY
          - TARGETING_TYPE_INVENTORY_SOURCE
          - TARGETING_TYPE_LANGUAGE
          - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
          - TARGETING_TYPE_GEO_REGION
          - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
          - TARGETING_TYPE_EXCHANGE
          - TARGETING_TYPE_SUB_EXCHANGE
          - TARGETING_TYPE_POI
          - TARGETING_TYPE_BUSINESS_CHAIN
          - TARGETING_TYPE_CONTENT_DURATION
          - TARGETING_TYPE_CONTENT_STREAM_TYPE
          - TARGETING_TYPE_NATIVE_CONTENT_POSITION
          - TARGETING_TYPE_OMID
          - TARGETING_TYPE_AUDIO_CONTENT_TYPE
          - TARGETING_TYPE_CONTENT_GENRE
          - TARGETING_TYPE_YOUTUBE_VIDEO
          - TARGETING_TYPE_YOUTUBE_CHANNEL
          - TARGETING_TYPE_SESSION_POSITION
          - TARGETING_TYPE_CONTENT_THEME_EXCLUSION
          - TARGETING_TYPE_YOUTUBE_CHANNEL_PACK
          pattern: ^[^/]+$
        description: 'Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL` Allowed values — `TARGETING_TYPE_UNSPECIFIED`: Default value when type is not specified or is unknown in this version.; `TARGETING_TYPE_CHANNEL`: Target a channel (a custom group of related websites or apps).; `TARGETING_TYPE_APP_CATEGORY`: Target an app category (for example, education or puzzle games).; `TARGETING_TYPE_APP`: Target a specific app (for example, Angry Birds).; `TARGETING_TYPE_URL`: Target a specific url (for example, quora.com).; `TARGETING_TYPE_DAY_AND_TIME`: Target ads during a chosen time period on a specific day.; `TARGETING_TYPE_AGE_RANGE`: Target ads to a specific age range (for example, 18-24).; `TARGETING_TYPE_REGIONAL_LOCATION_LIST`: Target ads to the specified regions on a regional location list.; `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`: Target ads to the specified points of interest on a proximity location list.; `TARGETING_TYPE_GENDER`: Target ads to a specific gender (for example, female or male).; `TARGETING_TYPE_VIDEO_PLAYER_SIZE`: Target a specific video player size for video ads.; `TARGETING_TYPE_USER_REWARDED_CONTENT`: Target user rewarded content for video ads.; `TARGETING_TYPE_PARENTAL_STATUS`: Target ads to a specific parental status (for example, parent or not a parent).; `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`: Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).; `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`: Target ads in a specific content outstream position.; `TARGETING_TYPE_DEVICE_TYPE`: Target ads to a specific device type (for example, tablet or connected TV).; `TARGETING_TYPE_AUDIENCE_GROUP`: Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.; `TARGETING_TYPE_BROWSER`: Target ads to specific web browsers (for example, Chrome).; `TARGETING_TYPE_HOUSEHOLD_INCOME`: Target ads to a specific household income range (for example, top 10%).; `TARGETING_TYPE_ON_SCREEN_POSITION`: Target ads in a specific on screen position.; `TARGETING_TYPE_THIRD_PARTY_VERIFIER`: Filter web sites through third party verification (for example, IAS or DoubleVerify).; `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`: Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).; `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`: Filter website content by sensitive categories (for example, adult).; `TARGETING_TYPE_ENVIRONMENT`: Target ads to a specific environment (for example, web or app).; `TARGETING_TYPE_CARRIER_AND_ISP`: Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).; `TARGETING_TYPE_OPERATING_SYSTEM`: Target ads to a specific operating system (for example, macOS).; `TARGETING_TYPE_DEVICE_MAKE_MODEL`: Target ads to a specific device make or model (for example, Roku or Samsung).; `TARGETING_TYPE_KEYWORD`: Target ads to a specific keyword (for example, dog or retriever).; `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`: Target ads to a specific negative keyword list.; `TARGETING_TYPE_VIEWABILITY`: Target ads to a specific viewability (for example, 80% viewable).; `TARGETING_TYPE_CATEGORY`: Target ads to a specific content category (for example, arts & entertainment).; `TARGETING_TYPE_INVENTORY_SOURCE`: Purchase impressions from specific deals and auction packages.; `TARGETING_TYPE_LANGUAGE`: Target ads to a specific language (for example, English or Japanese).; `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`: Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the "Authorized Direct Sellers and Resellers" option by default.; `TARGETING_TYPE_GEO_REGION`: Target ads to a specific regional location (for example, a city or state).; `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`: Purchase impressions from a group of deals and auction packages.; `TARGETING_TYPE_EXCHANGE`: Purchase impressions from specific exchanges.; `TARGETING_TYPE_SUB_EXCHANGE`: Purchase impressions from specific sub-exchanges.; `TARGETING_TYPE_POI`: Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.; `TARGETING_TYPE_BUSINESS_CHAIN`: Target ads around locations of a business chain within a specific geo region.; `TARGETING_TYPE_CONTENT_DURATION`: Target ads to a specific video content duration.; `TARGETING_TYPE_CONTENT_STREAM_TYPE`: Target ads to a specific video content stream type.; `TARGETING_TYPE_NATIVE_CONTENT_POSITION`: Target ads to a specific native content position.; `TARGETING_TYPE_OMID`: Target ads in an Open Measurement enabled inventory.; `TARGETING_TYPE_AUDIO_CONTENT_TYPE`: Target ads to a specific audio content type.; `TARGETING_TYPE_CONTENT_GENRE`: Target ads to a specific content genre.; `TARGETING_TYPE_YOUTUBE_VIDEO`: Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.; `TARGETING_TYPE_YOUTUBE_CHANNEL`: Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.; `TARGETING_TYPE_SESSION_POSITION`: Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.; `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`: Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.; `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`: Target ads to a specific YouTube channel pack.'
        required: true
      - name: assignedTargetingOptionId
        in: path
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. An identifier unique to the targeting type in this partner that identifies the assigned targeting option being requested.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignedTargetingOption'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.targetingTypes.assignedTargetingOptions.get
    delete:
      operationId: partnersTargetingTypesAssignedTargetingOptionsDelete
      summary: Deletes an assigned targeting option from a partner.
      description: Deletes an assigned targeting option from a partner.
      tags:
      - Partners
      parameters:
      - name: partnerId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the partner.
        required: true
      - name: targetingType
        in: path
        schema:
          type: string
          enum:
          - TARGETING_TYPE_UNSPECIFIED
          - TARGETING_TYPE_CHANNEL
          - TARGETING_TYPE_APP_CATEGORY
          - TARGETING_TYPE_APP
          - TARGETING_TYPE_URL
          - TARGETING_TYPE_DAY_AND_TIME
          - TARGETING_TYPE_AGE_RANGE
          - TARGETING_TYPE_REGIONAL_LOCATION_LIST
          - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
          - TARGETING_TYPE_GENDER
          - TARGETING_TYPE_VIDEO_PLAYER_SIZE
          - TARGETING_TYPE_USER_REWARDED_CONTENT
          - TARGETING_TYPE_PARENTAL_STATUS
          - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
          - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
          - TARGETING_TYPE_DEVICE_TYPE
          - TARGETING_TYPE_AUDIENCE_GROUP
          - TARGETING_TYPE_BROWSER
          - TARGETING_TYPE_HOUSEHOLD_INCOME
          - TARGETING_TYPE_ON_SCREEN_POSITION
          - TARGETING_TYPE_THIRD_PARTY_VERIFIER
          - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
          - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
          - TARGETING_TYPE_ENVIRONMENT
          - TARGETING_TYPE_CARRIER_AND_ISP
          - TARGETING_TYPE_OPERATING_SYSTEM
          - TARGETING_TYPE_DEVICE_MAKE_MODEL
          - TARGETING_TYPE_KEYWORD
          - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
          - TARGETING_TYPE_VIEWABILITY
          - TARGETING_TYPE_CATEGORY
          - TARGETING_TYPE_INVENTORY_SOURCE
          - TARGETING_TYPE_LANGUAGE
          - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
          - TARGETING_TYPE_GEO_REGION
          - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
          - TARGETING_TYPE_EXCHANGE
          - TARGETING_TYPE_SUB_EXCHANGE
          - TARGETING_TYPE_POI
          - TARGETING_TYPE_BUSINESS_CHAIN
          - TARGETING_TYPE_CONTENT_DURATION
          - TARGETING_TYPE_CONTENT_STREAM_TYPE
          - TARGETING_TYPE_NATIVE_CONTENT_POSITION
          - TARGETING_TYPE_OMID
          - TARGETING_TYPE_AUDIO_CONTENT_TYPE
          - TARGETING_TYPE_CONTENT_GENRE
          - TARGETING_TYPE_YOUTUBE_VIDEO
          - TARGETING_TYPE_YOUTUBE_CHANNEL
          - TARGETING_TYPE_SESSION_POSITION
          - TARGETING_TYPE_CONTENT_THEME_EXCLUSION
          - TARGETING_TYPE_YOUTUBE_CHANNEL_PACK
          pattern: ^[^/]+$
        description: 'Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL` Allowed values — `TARGETING_TYPE_UNSPECIFIED`: Default value when type is not specified or is unknown in this version.; `TARGETING_TYPE_CHANNEL`: Target a channel (a custom group of related websites or apps).; `TARGETING_TYPE_APP_CATEGORY`: Target an app category (for example, education or puzzle games).; `TARGETING_TYPE_APP`: Target a specific app (for example, Angry Birds).; `TARGETING_TYPE_URL`: Target a specific url (for example, quora.com).; `TARGETING_TYPE_DAY_AND_TIME`: Target ads during a chosen time period on a specific day.; `TARGETING_TYPE_AGE_RANGE`: Target ads to a specific age range (for example, 18-24).; `TARGETING_TYPE_REGIONAL_LOCATION_LIST`: Target ads to the specified regions on a regional location list.; `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`: Target ads to the specified points of interest on a proximity location list.; `TARGETING_TYPE_GENDER`: Target ads to a specific gender (for example, female or male).; `TARGETING_TYPE_VIDEO_PLAYER_SIZE`: Target a specific video player size for video ads.; `TARGETING_TYPE_USER_REWARDED_CONTENT`: Target user rewarded content for video ads.; `TARGETING_TYPE_PARENTAL_STATUS`: Target ads to a specific parental status (for example, parent or not a parent).; `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`: Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).; `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`: Target ads in a specific content outstream position.; `TARGETING_TYPE_DEVICE_TYPE`: Target ads to a specific device type (for example, tablet or connected TV).; `TARGETING_TYPE_AUDIENCE_GROUP`: Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.; `TARGETING_TYPE_BROWSER`: Target ads to specific web browsers (for example, Chrome).; `TARGETING_TYPE_HOUSEHOLD_INCOME`: Target ads to a specific household income range (for example, top 10%).; `TARGETING_TYPE_ON_SCREEN_POSITION`: Target ads in a specific on screen position.; `TARGETING_TYPE_THIRD_PARTY_VERIFIER`: Filter web sites through third party verification (for example, IAS or DoubleVerify).; `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`: Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).; `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`: Filter website content by sensitive categories (for example, adult).; `TARGETING_TYPE_ENVIRONMENT`: Target ads to a specific environment (for example, web or app).; `TARGETING_TYPE_CARRIER_AND_ISP`: Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).; `TARGETING_TYPE_OPERATING_SYSTEM`: Target ads to a specific operating system (for example, macOS).; `TARGETING_TYPE_DEVICE_MAKE_MODEL`: Target ads to a specific device make or model (for example, Roku or Samsung).; `TARGETING_TYPE_KEYWORD`: Target ads to a specific keyword (for example, dog or retriever).; `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`: Target ads to a specific negative keyword list.; `TARGETING_TYPE_VIEWABILITY`: Target ads to a specific viewability (for example, 80% viewable).; `TARGETING_TYPE_CATEGORY`: Target ads to a specific content category (for example, arts & entertainment).; `TARGETING_TYPE_INVENTORY_SOURCE`: Purchase impressions from specific deals and auction packages.; `TARGETING_TYPE_LANGUAGE`: Target ads to a specific language (for example, English or Japanese).; `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`: Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the "Authorized Direct Sellers and Resellers" option by default.; `TARGETING_TYPE_GEO_REGION`: Target ads to a specific regional location (for example, a city or state).; `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`: Purchase impressions from a group of deals and auction packages.; `TARGETING_TYPE_EXCHANGE`: Purchase impressions from specific exchanges.; `TARGETING_TYPE_SUB_EXCHANGE`: Purchase impressions from specific sub-exchanges.; `TARGETING_TYPE_POI`: Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.; `TARGETING_TYPE_BUSINESS_CHAIN`: Target ads around locations of a business chain within a specific geo region.; `TARGETING_TYPE_CONTENT_DURATION`: Target ads to a specific video content duration.; `TARGETING_TYPE_CONTENT_STREAM_TYPE`: Target ads to a specific video content stream type.; `TARGETING_TYPE_NATIVE_CONTENT_POSITION`: Target ads to a specific native content position.; `TARGETING_TYPE_OMID`: Target ads in an Open Measurement enabled inventory.; `TARGETING_TYPE_AUDIO_CONTENT_TYPE`: Target ads to a specific audio content type.; `TARGETING_TYPE_CONTENT_GENRE`: Target ads to a specific content genre.; `TARGETING_TYPE_YOUTUBE_VIDEO`: Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.; `TARGETING_TYPE_YOUTUBE_CHANNEL`: Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.; `TARGETING_TYPE_SESSION_POSITION`: Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.; `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`: Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.; `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`: Target ads to a specific YouTube channel pack.'
        required: true
      - name: assignedTargetingOptionId
        in: path
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the assigned targeting option to delete.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.partners.targetingTypes.assignedTargetingOptions.delete
components:
  schemas:
    DoubleVerifyAppStarRating:
      type: object
      description: Details of DoubleVerify star ratings settings.
      properties:
        avoidedStarRating:
          type: string
          description: 'Avoid bidding on apps with the star ratings. Allowed values — `APP_STAR_RATE_UNSPECIFIED`: This enum is only a placeholder and it doesn''t specify any app star rating options.; `APP_STAR_RATE_1_POINT_5_LESS`: Official Apps with rating < 1.5 Stars.; `APP_STAR_RATE_2_LESS`: Official Apps with rating < 2 Stars.; `APP_STAR_RATE_2_POINT_5_LESS`: Official Apps with rating < 2.5 Stars.; `APP_STAR_RATE_3_LESS`: Official Apps with rating < 3 Stars.; `APP_STAR_RATE_3_POINT_5_LESS`: Official Apps with rating < 3.5 Stars.; `APP_STAR_RATE_4_LESS`: Official Apps with rating < 4 Stars.; `APP_STAR_RATE_4_POINT_5_LESS`: Official Apps with rating < 4.5 Stars.'
          enum:
          - APP_STAR_RATE_UNSPECIFIED
          - APP_STAR_RATE_1_POINT_5_LESS
          - APP_STAR_RATE_2_LESS
          - APP_STAR_RATE_2_POINT_5_LESS
          - APP_STAR_RATE_3_LESS
          - APP_STAR_RATE_3_POINT_5_LESS
          - APP_STAR_RATE_4_LESS
          - APP_STAR_RATE_4_POINT_5_LESS
        avoidInsufficientStarRating:
          type: boolean
          description: Avoid bidding on apps with insufficient star ratings.
    ReplaceSitesRequest:
      type: object
      description: Request message for SiteService.ReplaceSites.
      properties:
        newSites:
          type: array
          description: The sites that will replace the existing sites assigned to the channel, specified as a list of Sites.
          items:
            $ref: '#/components/schemas/Site'
        advertiserId:
          type: string
          format: int64
          description: The ID of the advertiser that owns the parent channel.
        partnerId:
          type: string
          format: int64
          description: The ID of the partner that owns the parent channel.
    DigitalContentLabelAssignedTargetingOptionDetails:
      type: object
      description: Targeting details for digital content label. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`.
      properties:
        excludedContentRatingTier:
          type: string
          description: 'Required. The display name of the digital content label rating tier to be EXCLUDED. Allowed values — `CONTENT_RATING_TIER_UNSPECIFIED`: Content label is not specified in this version. This enum is a place holder for a default value and does not represent a real content rating.; `CONTENT_RATING_TIER_UNRATED`: Content that has not been labeled.; `CONTENT_RATING_TIER_GENERAL`: Content suitable for general audiences.; `CONTENT_RATING_TIER_PARENTAL_GUIDANCE`: Content suitable for most audiences with parental guidance.; `CONTENT_RATING_TIER_TEENS`: Content suitable for teen and older audiences.; `CONTENT_RATING_TIER_MATURE`: Content suitable only for mature audiences.; `CONTENT_RATING_TIER_FAMILIES`: Content suitable for family audiences. It is a subset of CONTENT_RATING_TIER_GENERAL. Only applicable to YouTube and Partners line items.'
          enum:
          - CONTENT_RATING_TIER_UNSPECIFIED
          - CONTENT_RATING_TIER_UNRATED
          - CONTENT_RATING_TIER_GENERAL
          - CONTENT_RATING_TIER_PARENTAL_GUIDANCE
          - CONTENT_RATING_TIER_TEENS
          - CONTENT_RATING_TIER_MATURE
          - CONTENT_RATING_TIER_FAMILIES
    SessionPositionAssignedTargetingOptionDetails:
      type: object
      description: Details for session position assigned targeting option. This will be populated in the session_position_details field when targeting_type is `TARGETING_TYPE_SESSION_POSITION`.
      properties:
        sessionPosition:
          type: string
          description: 'The position where the ad will show in a session. Allowed values — `SESSION_POSITION_UNSPECIFIED`: This is a placeholder, does not indicate any positions.; `SESSION_POSITION_FIRST_IMPRESSION`: The first impression of the session.'
          enum:
          - SESSION_POSITION_UNSPECIFIED
          - SESSION_POSITION_FIRST_IMPRESSION
    CreateAssignedTargetingOptionsRequest:
      type: object
      description: A request listing which assigned targeting options of a given targeting type should be created and added.
      properties:
        targetingType:
          type: string
          description: 'Required. Identifies the type of this assigned targeting option. Allowed values — `TARGETING_TYPE_UNSPECIFIED`: Default value when type is not specified or is unknown in this version.; `TARGETING_TYPE_CHANNEL`: Target a channel (a custom group of related websites or apps).; `TARGETING_TYPE_APP_CATEGORY`: Target an app category (for example, education or puzzle games).; `TARGETING_TYPE_APP`: Target a specific app (for example, Angry Birds).; `TARGETING_TYPE_URL`: Target a specific url (for example, quora.com).; `TARGETING_TYPE_DAY_AND_TIME`: Target ads during a chosen time period on a specific day.; `TARGETING_TYPE_AGE_RANGE`: Target ads to a specific age range (for example, 18-24).; `TARGETING_TYPE_REGIONAL_LOCATION_LIST`: Target ads to the specified regions on a regional location list.; `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`: Target ads to the specified points of interest on a proximity location list.; `TARGETING_TYPE_GENDER`: Target ads to a specific gender (for example, female or male).; `TARGETING_TYPE_VIDEO_PLAYER_SIZE`: Target a specific video player size for video ads.; `TARGETING_TYPE_USER_REWARDED_CONTENT`: Target user rewarded content for video ads.; `TARGETING_TYPE_PARENTAL_STATUS`: Target ads to a specific parental status (for example, parent or not a parent).; `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`: Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).; `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`: Target ads in a specific content outstream position.; `TARGETING_TYPE_DEVICE_TYPE`: Target ads to a specific device type (for example, tablet or connected TV).; `TARGETING_TYPE_AUDIENCE_GROUP`: Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.; `TARGETING_TYPE_BROWSER`: Target ads to specific web browsers (for example, Chrome).; `TARGETING_TYPE_HOUSEHOLD_INCOME`: Target ads to a specific household income range (for example, top 10%).; `TARGETING_TYPE_ON_SCREEN_POSITION`: Target ads in a specific on screen position.; `TARGETING_TYPE_THIRD_PARTY_VERIFIER`: Filter web sites through third party verification (for example, IAS or DoubleVerify).; `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`: Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).; `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`: Filter website content by sensitive categories (for example, adult).; `TARGETING_TYPE_ENVIRONMENT`: Target ads to a specific environment (for example, web or app).; `TARGETING_TYPE_CARRIER_AND_ISP`: Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).; `TARGETING_TYPE_OPERATING_SYSTEM`: Target ads to a specific operating system (for example, macOS).; `TARGETING_TYPE_DEVICE_MAKE_MODEL`: Target ads to a specific device make or model (for example, Roku or Samsung).; `TARGETING_TYPE_KEYWORD`: Target ads to a specific keyword (for example, dog or retriever).; `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`: Target ads to a specific negative keyword list.; `TARGETING_TYPE_VIEWABILITY`: Target ads to a specific viewability (for example, 80% viewable).; `TARGETING_TYPE_CATEGORY`: Target ads to a specific content category (for example, arts & entertainment).; `TARGETING_TYPE_INVENTORY_SOURCE`: Purchase impressions from specific deals and auction packages.; `TARGETING_TYPE_LANGUAGE`: Target ads to a specific language (for example, English or Japanese).; `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`: Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the "Authorized Direct Sellers and Resellers" option by default.; `TARGETING_TYPE_GEO_REGION`: Target ads to a specific regional location (for example, a city or state).; `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`: Purchase impressions from a group of deals and auction packages.; `TARGETING_TYPE_EXCHANGE`: Purchase impressions from specific exchanges.; `TARGETING_TYPE_SUB_EXCHANGE`: Purchase impressions from specific sub-exchanges.; `TARGETING_TYPE_POI`: Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.; `TARGETING_TYPE_BUSINESS_CHAIN`: Target ads around locations of a business chain within a specific geo region.; `TARGETING_TYPE_CONTENT_DURATION`: Target ads to a specific video content duration.; `TARGETING_TYPE_CONTENT_STREAM_TYPE`: Target ads to a specific video content stream type.; `TARGETING_TYPE_NATIVE_CONTENT_POSITION`: Target ads to a specific native content position.; `TARGETING_TYPE_OMID`: Target ads in an Open Measurement enabled inventory.; `TARGETING_TYPE_AUDIO_CONTENT_TYPE`: Target ads to a specific audio content type.; `TARGETING_TYPE_CONTENT_GENRE`: Target ads to a specific content genre.; `TARGETING_TYPE_YOUTUBE_VIDEO`: Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.; `TARGETING_TYPE_YOUTUBE_CHANNEL`: Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.; `TARGETING_TYPE_SESSION_POSITION`: Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.; `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`: Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.; `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`: Target ads to a specific YouTube channel pack.'
          enum:
          - TARGETING_TYPE_UNSPECIFIED
          - TARGETING_TYPE_CHANNEL
          - TARGETING_TYPE_APP_CATEGORY
          - TARGETING_TYPE_APP
          - TARGETING_TYPE_URL
          - TARGETING_TYPE_DAY_AND_TIME
          - TARGETING_TYPE_AGE_RANGE
          - TARGETING_TYPE_REGIONAL_LOCATION_LIST
          - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
          - TARGETING_TYPE_GENDER
          - TARGETING_TYPE_VIDEO_PLAYER_SIZE
          - TARGETING_TYPE_USER_REWARDED_CONTENT
          - TARGETING_TYPE_PARENTAL_STATUS
          - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
          - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
          - TARGETING_TYPE_DEVICE_TYPE
          - TARGETING_TYPE_AUDIENCE_GROUP
          - TARGETING_TYPE_BROWSER
          - TARGETING_TYPE_HOUSEHOLD_INCOME
          - TARGETING_TYPE_ON_SCREEN_POSITION
          - TARGETING_TYPE_THIRD_PARTY_VERIFIER
          - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
          - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
          - TARGETING_TYPE_ENVIRONMENT
          - TARGETING_TYPE_CARRIER_AND_ISP
          - TARGETING_TYPE_OPERATING_SYSTEM
          - TARGETING_TYPE_DEVICE_MAKE_MODEL
          - TARGETING_TYPE_KEYWORD
          - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
          - TARGETING_TYPE_VIEWABILITY
          - TARGETING_TYPE_CATEGORY
          - TARGETING_TYPE_INVENTORY_SOURCE
          - TARGETING_TYPE_LANGUAGE
          - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
          - TARGETING_TYPE_GEO_REGION
          - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
          - TARGETING_TYPE_EXCHANGE
          - TARGETING_TYPE_SUB_EXCHANGE
          - TARGETING_TYPE_POI
          - TARGETING_TYPE_BUSINESS_CHAIN
          - TARGETING_TYPE_CONTENT_DURATION
          - TARGETING_TYPE_CONTENT_STREAM_TYPE
          - TARGETING_TYPE_NATIVE_CONTENT_POSITION
          - TARGETING_TYPE_OMID
          - TARGETING_TYPE_AUDIO_CONTENT_TYPE
          - TARGETING_TYPE_CONTENT_GENRE
          - TARGETING_TYPE_YOUTUBE_VIDEO
          - TARGETING_TYPE_YOUTUBE_CHANNEL
          - TARGETING_TYPE_SESSION_POSITION
          - TARGETING_TYPE_CONTENT_THEME_EXCLUSION
          - TARGETING_TYPE_YOUTUBE_CHANNEL_PACK
        assignedTargetingOptions:
          type: array
          description: Required. The assigned targeting options to create and add.
          items:
            $ref: '#/components/schemas/AssignedTargetingOption'
    DoubleVerifyFraudInvalidTraffic:
      type: object
      description: DoubleVerify Fraud & Invalid Traffic settings.
      properties:
        avoidedFraudOption:
          type: string
          description: 'Avoid Sites and Apps with historical Fraud & IVT. Allowed values — `FRAUD_UNSPECIFIED`: This enum is only a placeholder and it doesn''t specify any fraud and invalid traffic options.; `AD_IMPRESSION_FRAUD_100`: 100% Fraud & IVT.; `AD_IMPRESSION_FRAUD_50`: 50% or Higher Fraud & IVT.; `AD_IMPRESSION_FRAUD_25`: 25% or Higher Fraud & IVT.; `AD_IMPRESSION_FRAUD_10`: 10% or Higher Fraud & IVT.; `AD_IMPRESSION_FRAUD_8`: 8% or Higher Fraud & IVT.; `AD_IMPRESSION_FRAUD_6`: 6% or Higher Fraud & IVT.; `AD_IMPRESSION_FRAUD_4`: 4% or Higher Fraud & IVT.; `AD_IMPRESSION_FRAUD_2`: 2% or Higher Fraud & IVT.'
          enum:
          - FRAUD_UNSPECIFIED
          - AD_IMPRESSION_FRAUD_100
          - AD_IMPRESSION_FRAUD_50
          - AD_IMPRESSION_FRAUD_25
          - AD_IMPRESSION_FRAUD_10
          - AD_IMPRESSION_FRAUD_8
          - AD_IMPRESSION_FRAUD_6
          - AD_IMPRESSION_FRAUD_4
          - AD_IMPRESSION_FRAUD_2
        avoidInsufficientOption:
          type: boolean
          description: Insufficient Historical Fraud & IVT Stats.
    RegionalLocationListAssignedTargetingOptionDetails:
      type: object
      description: Targeting details for regional location list. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_REGIONAL_LOCATION_LIST`.
      properties:
        regionalLocationListId:
          type: string
          format: int64
          description: Required. ID of the regional location list. Should refer to the location_list_id field of a LocationList resource whose type is `TARGETING_LOCATION_TYPE_REGIONAL`.
        negative:
          type: boolean
          description: Indicates if this option is being negatively targeted.
    OperatingSystemAssignedTargetingOptionDetails:
      type: object
      description: Assigned operating system targeting option details. This will be populated in the operating_system_details field when targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`.
      properties:
        displayName:
          type: string
          description: Output only. The display name of the operating system.
          readOnly: true
        targetingOptionId:
          type: string
          description: Required. The targeting option ID populated in targeting_option_id field when targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`.
        negative:
          type: boolean
          description: Indicates if this option is being negatively targeted.
    GeoRegionAssignedTargetingOptionDetails:
      type: object
      description: Details for assigned geographic region targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_GEO_REGION`.
      properties:
        negative:
          type: boolean
          description: Indicates if this option is being negatively targeted.
        displayName:
          type: string
          description: Output only. The display name of the geographic region (e.g., "Ontario, Canada").
          readOnly: true
        targetingOptionId:
          type: string
          description: Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_GEO_REGION`.
        geoRegionType:
          type: string
          description: 'Output only. The type of geographic region targeting. Allowed values — `GEO_REGION_TYPE_UNKNOWN`: The geographic region type is unknown.; `GEO_REGION_TYPE_OTHER`: The geographic region type is other.; `GEO_REGION_TYPE_COUNTRY`: The geographic region is a country.; `GEO_REGION_TYPE_REGION`: The geographic region type is region.; `GEO_REGION_TYPE_TERRITORY`: The geographic region is a territory.; `GEO_REGION_TYPE_PROVINCE`: The geographic region is a province.; `GEO_REGION_TYPE_STATE`: The geographic region is a state.; `GEO_REGION_TYPE_PREFECTURE`: The geographic region is a prefecture.; `GEO_REGION_TYPE_GOVERNORATE`: The geographic region is a governorate.; `GEO_REGION_TYPE_CANTON`: The geographic region is a canton.; `GEO_REGION_TYPE_UNION_TERRITORY`: The geographic region is a union territory.; `GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY`: The geographic region is an autonomous community.; `GEO_REGION_TYPE_DMA_REGION`: The geographic region is a designated market area (DMA) region.; `GEO_REGION_TYPE_METRO`: The geographic region type is metro.; `GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT`: The geographic region is a congressional district.; `GEO_REGION_TYPE_COUNTY`: The geographic region is a county.; `GEO_REGION_TYPE_MUNICIPALITY`: The geographic region is a municipality.; `GEO_REGION_TYPE_CITY`: The geographic region is a city.; `GEO_REGION_TYPE_POSTAL_CODE`: The geographic region targeting type is postal code.; `GEO_REGION_TYPE_DEPARTMENT`: The geographic region targeting type is department.; `GEO_REGION_TYPE_AIRPORT`: The geographic region is an airport.; `GEO_REGION_TYPE_TV_REGION`: The geographic region is a TV region.; `GEO_REGION_TYPE_OKRUG`: The geographic region is an okrug.; `GEO_REGION_TYPE_BOROUGH`: The geographic region is a borough.; `GEO_REGION_TYPE_CITY_REGION`: The geographic region is a city region.; `GEO_REGION_TYPE_ARRONDISSEMENT`: The geographic region is an arrondissement.; `GEO_REGION_TYPE_NEIGHBORHOOD`: The geographic region is a neighborhood.; `GEO_REGION_TYPE_UNIVERSITY`: The geographic region is a university.; `GEO_REGION_TYPE_DISTRICT`: The geographic region is a district.; `GEO_REGION_TYPE_NATIONAL_PARK`: The geographic region is a national park.; `GEO_REGION_TYPE_BARRIO`: The geographic region is a barrio.; `GEO_REGION_TYPE_SUB_WARD`: The geographic region is a sub ward.; `GEO_REGION_TYPE_MUNICIPALITY_DISTRICT`: The geographic region is a municipality district.; `GEO_REGION_TYPE_SUB_DISTRICT`: The geographic region is a sub district.; `GEO_REGION_TYPE_QUARTER`: The geographic region is a quarter.; `GEO_REGION_TYPE_DIVISION`: The geographic region is a division.; `GEO_REGION_TYPE_COMMUNE`: The geographic region is a commune.; `GEO_REGION_TYPE_COLLOQUIAL_AREA`: The geographic region is a colloquial area.; `GEO_REGION_TYPE_POST_TOWN`: The geographic region is a post town.; `GEO_REGION_TYPE_WARD`: The geographic region is a ward.; `GEO_REGION_TYPE_TOWN`: The geographic region is a town.; `GEO_REGION_TYPE_VILLAGE`: The geographic region is a village.; `GEO_REGION_TYPE_CITY_DISTRICT`: The geographic region is a city district.; `GEO_REGION_TYPE_SUBURB`: The geographic region is a suburb.; `GEO_REGION_TYPE_HAMLET`: The geographic region is a hamlet.; `GEO_REGION_TYPE_MUNICIPAL_DISTRICT`: The geographic region is a municipal district.; `GEO_REGION_TYPE_COMMUNITY`: The geographic region is a community.; `GEO_REGION_TYPE_TOWNSHIP`: The geographic region is a township.; `GEO_REGION_TYPE_URBAN_DISTRICT`: The geographic region is an urban district.; `GEO_REGION_TYPE_RESIDENTIAL_AREA`: The geographic region is a residential area.; `GEO_REGION_TYPE_INDEPENDENT_CITY`: The geographic region is an independent city.; `GEO_REGION_TYPE_SECTOR`: The geographic region is a sector.; `GEO_REGION_TYPE_AREA`: The geographic region is an area.; `GEO_REGION_TYPE_ESTATE`: The geographic region is an estate.; `GEO_REGION_TYPE_PARISH`: The geographic region is a parish.; `GEO_REGION_TYPE_SETTLEMENT`: The geographic region is a settlement.; `GEO_REGION_TYPE_ZONE`: The geographic region is a zone.; `GEO_REGION_TYPE_COLONY`: The geographic region is a colony.; `GEO_REGION_TYPE_INDUSTRIAL_AREA`: The geographic region is an industrial area.; `GEO_REGION_TYPE_PROVINCIAL_CITY`: The geographic region is a provincial city.; `GEO_REGION_TYPE_RURAL_DISTRICT`: The geographic region is a rural district.'
          enum:
          - GEO_REGION_TYPE_UNKNOWN
          - GEO_REGION_TYPE_OTHER
          - GEO_REGION_TYPE_COUNTRY
          - GEO_REGION_TYPE_REGION
          - GEO_REGION_TYPE_TERRITORY
          - GEO_REGION_TYPE_PROVINCE
          - GEO_REGION_TYPE_STATE
          - GEO_REGION_TYPE_PREFECTURE
          - GEO_REGION_TYPE_GOVERNORATE
          - GEO_REGION_TYPE_CANTON
          - GEO_REGION_TYPE_UNION_TERRITORY
          - GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY
          - GEO_REGION_TYPE_DMA_REGION
          - GEO_REGION_TYPE_METRO
          - GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT
          - GEO_REGION_TYPE_COUNTY
          - GEO_REGION_TYPE_MUNICIPALITY
          - GEO_REGION_TYPE_CITY
          - GEO_REGION_TYPE_POSTAL_CODE
          - GEO_REGION_TYPE_DEPARTMENT
          - GEO_REGION_TYPE_AIRPORT
          - GEO_REGION_TYPE_TV_REGION
          - GEO_REGION_TYPE_OKRUG
          - GEO_REGION_TYPE_BOROUGH
          - GEO_REGION_TYPE_CITY_REGION
          - GEO_REGION_TYPE_ARRONDISSEMENT
          - GEO_REGION_TYPE_NEIGHBORHOOD
          - GEO_REGION_TYPE_UNIVERSITY
          - GEO_REGION_TYPE_DISTRICT
          - GEO_REGION_TYPE_NATIONAL_PARK
          - GEO_REGION_TYPE_BARRIO
          - GEO_REGION_TYPE_SUB_WARD
          - GEO_REGION_TYPE_MUNICIPALITY_DISTRICT
          - GEO_REGION_TYPE_SUB_DISTRICT
          - GEO_REGION_TYPE_QUARTER
          - GEO_REGION_TYPE_DIVISION
          - GEO_REGION_TYPE_COMMUNE
          - GEO_REGION_TYPE_COLLOQUIAL_AREA
          - GEO_REGION_TYPE_POST_TOWN
          - GEO_REGION_TYPE_WARD
          - GEO_REGION_TYPE_TOWN
          - GEO_REGION_TYPE_VILLAGE
          - GEO_REGION_TYPE_CITY_DISTRICT
          - GEO_REGION_TYPE_SUBURB
          - GEO_REGION_TYPE_HAMLET
          - GEO_REGION_TYPE_MUNICIPAL_DISTRICT
          - GEO_REGION_TYPE_COMMUNITY
          - GEO_REGION_TYPE_TOWNSHIP
          - GEO_REGION_TYPE_URBAN_DISTRICT
          - GEO_REGION_TYPE_RESIDENTIAL_AREA
          - GEO_REGION_TYPE_INDEPENDENT_CITY
          - GEO_REGION_TYPE_SECTOR
          - GEO_REGION_TYPE_AREA
          - GEO_REGION_TYPE_ESTATE
          - GEO_REGION_TYPE_PARISH
          - GEO_REGION_TYPE_SETTLEMENT
          - GEO_REGION_TYPE_ZONE
          - GEO_REGION_TYPE_COLONY
          - GEO_REGION_TYPE_INDUSTRIAL_AREA
          - GEO_REGION_TYPE_PROVINCIAL_CITY
          - GEO_REGION_TYPE_RURAL_DISTRICT
          readOnly: true
    ContentInstreamPositionAssignedTargetingOptionDetails:
      type: object
      description: Assigned content instream position targeting option details. This will be populated in the content_instream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`.
      properties:
        contentInstreamPosition:
          type: string
          description: 'Required. The content instream position for video or audio ads. Allowed values — `CONTENT_INSTREAM_POSITION_UNSPECIFIED`: Content instream position is not specified in this version. This enum is a place holder for a default value and does not represent a real in stream ad position.; `CONTENT_INSTREAM_POSITION_PRE_ROLL`: Ads that play before streaming content.; `CONTENT_INSTREAM_POSITION_MID_ROLL`: Ads that play between the beginning and end of streaming content.; `CONTENT_INSTREAM_POSITION_POST_ROLL`: Ads that play at the end of streaming content.; `CONTENT_INSTREAM_POSITION_UNKNOWN`: Ads instream position is unknown.'
          enum:
          - CONTENT_INSTREAM_POSITION_UNSPECIFIED
          - CONTENT_INSTREAM_POSITION_PRE_ROLL
          - CONTENT_INSTREAM_POSITION_MID_ROLL
          - CONTENT_INSTREAM_POSITION_POST_ROLL
          - CONTENT_INSTREAM_POSITION_UNKNOWN
        adType:
          type: string
          description: 'Output only. The ad type to target. Only applicable to insertion order targeting and new line items supporting the specified ad type will inherit this targeting option by default. Possible values are: * `AD_TYPE_VIDEO`, the setting will be inherited by new line item when line_item_type is `LINE_ITEM_TYPE_VIDEO_DEFAULT`. * `AD_TYPE_AUDIO`, the setting will be inherited by new line item when line_item_type is `LINE_ITEM_TYPE_AUDIO_DEFAULT`. Allowed values — `AD_TYPE_UNSPECIFIED`: Ad type is not specified or is unknown in this version.; `AD_TYPE_DISPLAY`: Display creatives, e.g. image and HTML5.; `AD_TYPE_VIDEO`: Video creatives, e.g. video ads that play during streaming content in video players.; `AD_TYPE_AUDIO`: Audio creatives, e.g. audio ads that play during audio content.'
          enum:
          - AD_TYPE_UNSPECIFIED
          - AD_TYPE_DISPLAY
          - AD_TYPE_VIDEO
          - AD_TYPE_AUDIO
          readOnly: true
    ExchangeConfigEnabledExchange:
      type: object
      description: An enabled exchange in the partner.
      properties:
        seatId:
          type: string
          description: Output only. Seat ID of the enabled exchange.
          readOnly: true
        exchange:
          type: string
          description: 'The enabled exchange. Allowed values — `EXCHANGE_UNSPECIFIED`: Exchange is not specified or is unknown in this version.; `EXCHANGE_GOOGLE_AD_MANAGER`: Google Ad Manager.; `EXCHANGE_APPNEXUS`: AppNexus.; `EXCHANGE_BRIGHTROLL`: BrightRoll Exchange for Video from Yahoo!.; `EXCHANGE_ADFORM`: Adform.; `EXCHANGE_ADMETA`: Admeta.; `EXCHANGE_ADMIXER`: Admixer.; `EXCHANGE_ADSMOGO`: AdsMogo.; `EXCHANGE_ADSWIZZ`: AdsWizz.; `EXCHANGE_BIDSWITCH`: BidSwitch.; `EXCHANGE_BRIGHTROLL_DISPLAY`: BrightRoll Exchange for Display from Yahoo!.; `EXCHANGE_CADREON`: Cadreon.; `EXCHANGE_DAILYMOTION`: Dailymotion.; `EXCHANGE_FIVE`: Five.; `EXCHANGE_FLUCT`: Fluct.; `EXCHANGE_FREEWHEEL`: FreeWheel SSP.; `EXCHANGE_GENIEE`: Geniee.; `EXCHANGE_GUMGUM`: GumGum.; `EXCHANGE_IMOBILE`: i-mobile.; `EXCHANGE_IBILLBOARD`: iBILLBOARD.; `EXCHANGE_IMPROVE_DIGITAL`: Improve Digital.; `EXCHANGE_INDEX`: Index Exchange.; `EXCHANGE_KARGO`: Kargo.; `EXCHANGE_MICROAD`: MicroAd.; `EXCHANGE_MOPUB`: MoPub.; `EXCHANGE_NEND`: Nend.; `EXCHANGE_ONE_BY_AOL_DISPLAY`: ONE by AOL: Display Market Place.; `EXCHANGE_ONE_BY_AOL_MOBILE`: ONE by AOL: Mobile.; `EXCHANGE_ONE_BY_AOL_VIDEO`: ONE by AOL: Video.; `EXCHANGE_OOYALA`: Ooyala.; `EXCHANGE_OPENX`: OpenX.; `EXCHANGE_PERMODO`: Permodo.; `EXCHANGE_PLATFORMONE`: Platform One.; `EXCHANGE_PLATFORMID`: PlatformId.; `EXCHANGE_PUBMATIC`: PubMatic.; `EXCHANGE_PULSEPOINT`: PulsePoint.; `EXCHANGE_REVENUEMAX`: RevenueMax.; `EXCHANGE_RUBICON`: Rubicon.; `EXCHANGE_SMARTCLIP`: SmartClip.; `EXCHANGE_SMARTRTB`: SmartRTB+.; `EXCHANGE_SMARTSTREAMTV`: SmartstreamTv.; `EXCHANGE_SOVRN`: Sovrn.; `EXCHANGE_SPOTXCHANGE`: SpotXchange.; `EXCHANGE_STROER`: Ströer SSP.; `EXCHANGE_TEADSTV`: TeadsTv.; `EXCHANGE_TELARIA`: Telaria.; `EXCHANGE_TVN`: TVN.; `EXCHANGE_UNITED`: United.; `EXCHANGE_YIELDLAB`: Yieldlab.; `EXCHANGE_YIELDMO`: Yieldmo.; `EXCHANGE_UNRULYX`: UnrulyX.; `EXCHANGE_OPEN8`: Open8.; `EXCHANGE_TRITON`: Triton.; `EXCHANGE_TRIPLELIFT`: TripleLift.; `EXCHANGE_TABOOLA`: Taboola.; `EXCHANGE_INMOBI`: InMobi.; `EXCHANGE_SMAATO`: Smaato.; `EXCHANGE_AJA`: Aja.; `EXCHANGE_SUPERSHIP`: Supership.; `EXCHANGE_NEXSTAR_DIGITAL`: Nexstar Digital.; `EXCHANGE_WAZE`: Waze.; `EXCHANGE_SOUNDCAST`: SoundCast.; `EXCHANGE_SHARETHROUGH`: Sharethrough.; `EXCHANGE_FYBER`: Fyber.; `EXCHANGE_RED_FOR_PUBLISHERS`: Red For Publishers.; `EXCHANGE_MEDIANET`: Media.net.; `EXCHANGE_TAPJOY`: Tapjoy.; `EXCHANGE_VISTAR`: Vistar.; `EXCHANGE_DAX`: DAX.; `EXCHANGE_JCD`: JCD.; `EXCHANGE_PLACE_EXCHANGE`: Place Exchange.; `EXCHANGE_APPLOVIN`: AppLovin.; `EXCHANGE_CONNATIX`: Connatix.; `EXCHANGE_RESET_DIGITAL`: Reset Digital.; `EXCHANGE_HIVESTACK`: Hivestack.; `EXCHANGE_DRAX`: Drax.; `EXCHANGE_APPLOVIN_GBID`: AppLovin MAX.; `EXCHANGE_FYBER_GBID`: DT Fairbid.; `EXCHANGE_UNITY_GBID`: Unity LevelPlay.; `EXCHANGE_CHARTBOOST_GBID`: Chartboost Mediation.; `EXCHANGE_ADMOST_GBID`: AdMost.; `EXCHANGE_TOPON_GBID`: TopOn.; `EXCHANGE_NETFLIX`: Netflix.; `EXCHANGE_CORE`: Core.; `EXCHANGE_COMMERCE_GRID`: Commerce Grid.; `EXCHANGE_SPOTIFY`: Spotify.; `EXCHANGE_TUBI`: Tubi.; `EXCHANGE_SNAP`: Snap.; `EXCHANGE_CADENT`: Cadent.; `EXCHANGE_EXTE`: Exte.'
          enum:
          - EXCHANGE_UNSPECIFIED
          - EXCHANGE_GOOGLE_AD_MANAGER
          - EXCHANGE_APPNEXUS
          - EXCHANGE_BRIGHTROLL
          - EXCHANGE_ADFORM
          - EXCHANGE_ADMETA
          - EXCHANGE_ADMIXER
          - EXCHANGE_ADSMOGO
          - EXCHANGE_ADSWIZZ
          - EXCHANGE_BIDSWITCH
          - EXCHANGE_BRIGHTROLL_DISPLAY
          - EXCHANGE_CADREON
          - EXCHANGE_DAILYMOTION
          - EXCHANGE_FIVE
          - EXCHANGE_FLUCT
          - EXCHANGE_FREEWHEEL
          - EXCHANGE_GENIEE
          - EXCHANGE_GUMGUM
          - EXCHANGE_IMOBILE
          - EXCHANGE_IBILLBOARD
          - EXCHANGE_IMPROVE_DIGITAL
          - EXCHANGE_INDEX
          - EXCHANGE_KARGO
          - EXCHANGE_MICROAD
          - EXCHANGE_MOPUB
          - EXCHANGE_NEND
          - EXCHANGE_ONE_BY_AOL_DISPLAY
          - EXCHANGE_ONE_BY_AOL_MOBILE
          - EXCHANGE_ONE_BY_AOL_VIDEO
          - EXCHANGE_OOYALA
          - EXCHANGE_OPENX
          - EXCHANGE_PERMODO
          - EXCHANGE_PLATFORMONE
          - EXCHANGE_PLATFORMID
          - EXCHANGE_PUBMATIC
          - EXCHANGE_PULSEPOINT
          - EXCHANGE_REVENUEMAX
          - EXCHANGE_RUBICON
          - EXCHANGE_SMARTCLIP
          - EXCHANGE_SMARTRTB
          - EXCHANGE_SMARTSTREAMTV
          - EXCHANGE_SOVRN
          - EXCHANGE_SPOTXCHANGE
          - EXCHANGE_STROER
          - EXCHANGE_TEADSTV
          - EXCHANGE_TELARIA
          - EXCHANGE_TVN
          - EXCHANGE_UNITED
          - EXCHANGE_YIELDLAB
          - EXCHANGE_YIELDMO
          - EXCHANGE_UNRULYX
          - EXCHANGE_OPEN8
          - EXCHANGE_TRITON
          - EXCHANGE_TRIPLELIFT
          - EXCHANGE_TABOOLA
          - EXCHANGE_INMOBI
          - EXCHANGE_SMAATO
          - EXCHANGE_AJA
          - EXCHANGE_SUPERSHIP
          - EXCHANGE_NEXSTAR_DIGITAL
          - EXCHANGE_WAZE
          - EXCHANGE_SOUNDCAST
          - EXCHANGE_SHARETHROUGH
          - EXCHANGE_FYBER
          - EXCHANGE_RED_FOR_PUBLISHERS
          - EXCHANGE_MEDIANET
          - EXCHANGE_TAPJOY
          - EXCHANGE_VISTAR
          - EXCHANGE_DAX
          - EXCHANGE_JCD
          - EXCHANGE_PLACE_EXCHANGE
          - EXCHANGE_APPLOVIN
          - EXCHANGE_CONNATIX
          - EXCHANGE_RESET_DIGITAL
          - EXCHANGE_HIVESTACK
          - EXCHANGE_DRAX
          - EXCHANGE_APPLOVIN_GBID
          - EXCHANGE_FYBER_GBID
          - EXCHANGE_UNITY_GBID
          - EXCHANGE_CHARTBOOST_GBID
          - EXCHANGE_ADMOST_GBID
          - EXCHANGE_TOPON_GBID
          - EXCHANGE_NETFLIX
          - EXCHANGE_CORE
          - EXCHANGE_COMMERCE_GRID
          - EXCHANGE_SPOTIFY
          - EXCHANGE_TUBI
          - EXCHANGE_SNAP
          - EXCHANGE_CADENT
          - EXCHANGE_EXTE
        googleAdManagerAgencyId:
          type: string
          description: Output only. Agency ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.
          readOnly: true
        googleAdManagerBuyerNetworkId:
          type: string
          description: Output only. Network ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.
          readOnly: true
    VideoPlayerSizeAssignedTargetingOptionDetails:
      type: object
      description: Video player size targeting option details. This will be populated in the video_player_size_details field when targeting_type is `TARGETING_TYPE_VIDEO_PLAYER_SIZE`. Explicitly targeting all options is not supported. Remove all video player size targeting options to achieve this effect.
      properties:
        videoPlayerSize:
          type: string
          description: 'Required. The video player size. Allowed values — `VIDEO_PLAYER_SIZE_UNSPECIFIED`: Video player size is not specified in this version. This enum is a place holder for a default value and does not represent a real video player size.; `VIDEO_PLAYER_SIZE_SMALL`: The dimensions of the video player are less than 400×300 (desktop), or up to 20% of screen covered (mobile).; `VIDEO_PLAYER_SIZE_LARGE`: The dimensions of the video player are between 400x300 and 1280x720 pixels (desktop), or 20% to 90% of the screen covered (mobile).; `VIDEO_PLAYER_SIZE_HD`: The dimensions of the video player are 1280×720 or greater (desktop), or over 90% of the screen covered (mobile).; `VIDEO_PLAYER_SIZE_UNKNOWN`: The dimensions of the video player are unknown.'
          enum:
          - VIDEO_PLAYER_SIZE_UNSPECIFIED
          - VIDEO_PLAYER_SIZE_SMALL
          - VIDEO_PLAYER_SIZE_LARGE
          - VIDEO_PLAYER_SIZE_HD
          - VIDEO_PLAYER_SIZE_UNKNOWN
    BusinessChainAssignedTargetingOptionDetails:
      type: object
      description: Details for assigned Business chain targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.
      properties:
        displayName:
          type: string
          description: Output only. The display name of a business chain, e.g. "KFC", "Chase Bank".
          readOnly: true
        targetingOptionId:
          type: string
          description: Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_BUSINESS_CHAIN`. Accepted business chain targeting option IDs can be retrieved using SearchTargetingOptions.
        proximityRadiusAmount:
          type: number
          format: double
          description: Required. The radius of the area around the business chain that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`. The minimum increment for both cases is 0.1. Inputs will be rounded to the nearest acceptable value if it is too granular, e.g. 15.57 will become 15.6.
        proximityRadiusUnit:
          type: string
          description: 'Required. The unit of distance by which the targeting radius is measured. Allowed values — `DISTANCE_UNIT_UNSPECIFIED`: Type value is not specified or is unknown in this version.; `DISTANCE_UNIT_MILES`: Miles.; `DISTANCE_UNIT_KILOMETERS`: Kilometers.'
          enum:
          - DISTANCE_UNIT_UNSPECIFIED
          - DISTANCE_UNIT_MILES
          - DISTANCE_UNIT_KILOMETERS
    ContentDurationAssignedTargetingOptionDetails:
      type: object
      description: Details for content duration assigned targeting option. This will be populated in the content_duration_details field when targeting_type is `TARGETING_TYPE_CONTENT_DURATION`. Explicitly targeting all options is not supported. Remove all content duration targeting options to achieve this effect.
      properties:
        targetingOptionId:
          type: string
          description: Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_DURATION`.
        contentDuration:
          type: string
          description: 'Output only. The content duration. Allowed values — `CONTENT_DURATION_UNSPECIFIED`: Content duration is not specified in this version. This enum is a place holder for a default value and does not represent a real content duration.; `CONTENT_DURATION_UNKNOWN`: The content duration is unknown.; `CONTENT_DURATION_0_TO_1_MIN`: Content is 0-1 minute long.; `CONTENT_DURATION_1_TO_5_MIN`: Content is 1-5 minutes long.; `CONTENT_DURATION_5_TO_15_MIN`: Content is 5-15 minutes long.; `CONTENT_DURATION_15_TO_30_MIN`: Content is 15-30 minutes long.; `CONTENT_DURATION_30_TO_60_MIN`: Content is 30-60 minutes long.; `CONTENT_DURATION_OVER_60_MIN`: Content is over 60 minutes long.'
          enum:
          - CONTENT_DURATION_UNSPECIFIED
          - CONTENT_DURATION_UNKNOWN
          - CONTENT_DURATION_0_TO_1_MIN
          - CONTENT_DURATION_1_TO_5_MIN
          - CONTENT_DURATION_5_TO_15_MIN
          - CONTENT_DURATION_15_TO_30_MIN
          - CONTENT_DURATION_30_TO_60_MIN
          - CONTENT_DURATION_OVER_60_MIN
          readOnly: true
    ProximityLocationListAssignedTargetingOptionDetails:
      type: object
      description: Targeting details for proximity location list. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`.
      properties:
        proximityRadius:
          type: number
          format: double
          description: Required. Radius expressed in the distance units set in proximity_radius_unit. This represents the size of the area around a chosen location that will be targeted. Radius should be between 1 and 500 miles or 800 kilometers.
        proximityRadiusUnit:
          type: string
          description: 'Required. Radius distance units. Allowed values — `PROXIMITY_RADIUS_UNIT_UNSPECIFIED`: Default value when distance units is not specified in this version. This enum is a place holder for default value and does not represent a real distance unit.; `PROXIMITY_RADIUS_UNIT_MILES`: Radius distance unit in miles.; `PROXIMITY_RADIUS_UNIT_KILOMETERS`: Radius distance unit in kilometeres'
          enum:
          - PROXIMITY_RADIUS_UNIT_UNSPECIFIED
          - PROXIMITY_RADIUS_UNIT_MILES
          - PROXIMITY_RADIUS_UNIT_KILOMETERS
        proximityLocationListId:
          type: string
          format: int64
          description: Required. ID of the proximity location list. Should refer to the location_list_id field of a LocationList resource whose type is `TARGETING_LOCATION_TYPE_PROXIMITY`.
    CarrierAndIspAssignedTargetingOptionDetails:
      type: object
      description: Details for assigned carrier and ISP targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_CARRIER_AND_ISP`.
      properties:
        displayName:
          type: string
          description: Output only. The display name of the carrier or ISP.
          readOnly: true
        targetingOptionId:
          type: string
          description: Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_CARRIER_AND_ISP`.
        negative:
          type: boolean
[...]
