openapi: 3.1.0
info:
  title: Google Display & Video 360 API
  description: Display & Video 360 API allows users to automate complex Display & Video 360 workflows,
    such as creating insertion orders and setting targeting options for individual line items. Derived
    mechanically from the first-party Google API Discovery Document at https://displayvideo.googleapis.com/$discovery/rest?version=v4
    (revision 20260813).
  version: v4
  contact:
    name: Google
    url: https://developers.google.com/display-video/
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
  x-google-discovery-revision: '20260813'
  x-google-discovery-document: https://displayvideo.googleapis.com/$discovery/rest?version=v4
servers:
- url: https://displayvideo.googleapis.com
  description: Display & Video 360 API server
security:
- oauth2:
  - https://www.googleapis.com/auth/display-video
tags:
- name: Users
- name: Guaranteed Orders
- name: Media
- name: Custom Lists
- name: First Party and Partner Audiences
- name: Floodlight Groups
- name: Targeting Types
- name: SDF Download Tasks
- name: Inventory Source Groups
- name: Advertisers
- name: Google Audiences
- name: Partners
- name: Inventory Sources
- name: SDF Upload Tasks
- name: Combined Audiences
- name: Custom Bidding Algorithms
paths:
  /v4/users:
    get:
      operationId: usersList
      summary: Lists users that are accessible to the current user.
      description: Lists users that are accessible to the current user. If two users have user roles on
        the same partner or advertiser, they can access each other. This method has unique authentication
        requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites)
        before using this method. The "Try this method" feature does not work for this method.
      tags:
      - Users
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `200`. If unspecified will default to
          `100`.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `displayName` (default)
          The default sorting order is ascending. To specify descending order for a field, a suffix "desc"
          should be added to the field name. For example, `displayName desc`.'
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is
          the value of next_page_token returned from the previous call to `ListUsers` method. If not specified,
          the first page of results will be returned.
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by user fields. Supported syntax: * Filter expressions are made
          up of one or more restrictions. * Restrictions can be combined by the logical operator `AND`.
          * A restriction has the form of `{field} {operator} {value}`. * The `displayName` and `email`
          fields must use the `HAS (:)` operator. * The `lastLoginTime` field must use either the `LESS
          THAN OR EQUAL TO (<=)` or `GREATER THAN OR EQUAL TO (>=)` operator. * All other fields must
          use the `EQUALS (=)` operator. Supported fields: * `assignedUserRole.advertiserId` * `assignedUserRole.entityType`:
          This is synthetic field of `AssignedUserRole` used for filtering. Identifies the type of entity
          to which the user role is assigned. Valid values are `Partner` and `Advertiser`. * `assignedUserRole.parentPartnerId`:
          This is a synthetic field of `AssignedUserRole` used for filtering. Identifies the parent partner
          of the entity to which the user role is assigned. * `assignedUserRole.partnerId` * `assignedUserRole.userRole`
          * `displayName` * `email` * `lastLoginTime` (input in ISO 8601 format, or `YYYY-MM-DDTHH:MM:SSZ`)
          Examples: * The user with `displayName` containing "foo": `displayName:"foo"` * The user with
          `email` containing "bar": `email:"bar"` * All users with standard user roles: `assignedUserRole.userRole="STANDARD"`
          * All users with user roles for partner 123: `assignedUserRole.partnerId="123"` * All users
          with user roles for advertiser 123: `assignedUserRole.advertiserId="123"` * All users with partner
          level user roles: `entityType="PARTNER"` * All users with user roles for partner 123 and advertisers
          under partner 123: `parentPartnerId="123"` * All users that last logged in on or after 2023-01-01T00:00:00Z
          (format of ISO 8601): `lastLoginTime>="2023-01-01T00:00:00Z"` The length of this field should
          be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters)
          guide for more information.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video-user-management
      x-google-method-id: displayvideo.users.list
    post:
      operationId: usersCreate
      summary: Creates a new user.
      description: Creates a new user. Returns the newly created user if successful. This method has unique
        authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites)
        before using this method. The "Try this method" feature does not work for this method.
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video-user-management
      x-google-method-id: displayvideo.users.create
  /v4/users/{usersId}:bulkEditAssignedUserRoles:
    post:
      operationId: usersBulkEditAssignedUserRoles
      summary: Bulk edits user roles for a user.
      description: Bulk edits user roles for a user. The operation will delete the assigned user roles
        provided in BulkEditAssignedUserRolesRequest.deletedAssignedUserRoles and then assign the user
        roles provided in BulkEditAssignedUserRolesRequest.createdAssignedUserRoles. This method has unique
        authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites)
        before using this method. The "Try this method" feature does not work for this method.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the user to which the assigned user roles belong.
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEditAssignedUserRolesRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEditAssignedUserRolesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video-user-management
      x-google-method-id: displayvideo.users.bulkEditAssignedUserRoles
  /v4/users/{usersId}:
    patch:
      operationId: usersPatch
      summary: Updates an existing user.
      description: Updates an existing user. Returns the updated user if successful. This method has unique
        authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites)
        before using this method. The "Try this method" feature does not work for this method.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Output only. The unique ID of the user. Assigned by the system.
        required: true
      - name: updateMask
        in: query
        schema:
          type: string
          format: google-fieldmask
        description: Required. The mask to control which fields to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video-user-management
      x-google-method-id: displayvideo.users.patch
    get:
      operationId: usersGet
      summary: Gets a user.
      description: Gets a user. This method has unique authentication requirements. Read the prerequisites
        in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using
        this method. The "Try this method" feature does not work for this method.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the user to fetch.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video-user-management
      x-google-method-id: displayvideo.users.get
    delete:
      operationId: usersDelete
      summary: Deletes a user.
      description: Deletes a user. This method has unique authentication requirements. Read the prerequisites
        in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using
        this method. The "Try this method" feature does not work for this method.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the user to delete.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video-user-management
      x-google-method-id: displayvideo.users.delete
  /v4/guaranteedOrders:
    post:
      operationId: guaranteedOrdersCreate
      summary: Creates a new guaranteed order.
      description: Creates a new guaranteed order. Returns the newly created guaranteed order if successful.
      tags:
      - Guaranteed Orders
      parameters:
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that the request is being made within.
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that the request is being made within.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuaranteedOrder'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuaranteedOrder'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.guaranteedOrders.create
    get:
      operationId: guaranteedOrdersList
      summary: Lists guaranteed orders that are accessible to the current user.
      description: Lists guaranteed orders that are accessible to the current user. The order is defined
        by the order_by parameter. If a filter by entity_status is not specified, guaranteed orders with
        entity status `ENTITY_STATUS_ARCHIVED` will not be included in the results.
      tags:
      - Guaranteed Orders
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `200`. If unspecified will default to
          `100`.
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is
          the value of next_page_token returned from the previous call to `ListGuaranteedOrders` method.
          If not specified, the first page of results will be returned.
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by guaranteed order fields. * Filter expressions are made up of
          one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators.
          A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator}
          {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `guaranteed_order_id`
          * `exchange` * `display_name` * `status.entityStatus` Examples: * All active guaranteed orders:
          `status.entityStatus="ENTITY_STATUS_ACTIVE"` * Guaranteed orders belonging to Google Ad Manager
          or Rubicon exchanges: `exchange="EXCHANGE_GOOGLE_AD_MANAGER" OR exchange="EXCHANGE_RUBICON"`
          The length of this field should be no more than 500 characters. Reference our [filter `LIST`
          requests](/display-video/api/guides/how-tos/filters) guide for more information.'
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that has access to the guaranteed order.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that has access to the guaranteed order.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `displayName` (default)
          The default sorting order is ascending. To specify descending order for a field, a suffix "desc"
          should be added to the field name. For example, `displayName desc`.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGuaranteedOrdersResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.guaranteedOrders.list
  /v4/guaranteedOrders/{guaranteedOrdersId}:editGuaranteedOrderReadAccessors:
    post:
      operationId: guaranteedOrdersEditGuaranteedOrderReadAccessors
      summary: Edits read advertisers of a guaranteed order.
      description: Edits read advertisers of a guaranteed order.
      tags:
      - Guaranteed Orders
      parameters:
      - name: guaranteedOrderId
        in: path
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the guaranteed order to edit. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditGuaranteedOrderReadAccessorsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditGuaranteedOrderReadAccessorsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.guaranteedOrders.editGuaranteedOrderReadAccessors
  /v4/guaranteedOrders/{guaranteedOrdersId}:
    get:
      operationId: guaranteedOrdersGet
      summary: Gets a guaranteed order.
      description: Gets a guaranteed order.
      tags:
      - Guaranteed Orders
      parameters:
      - name: guaranteedOrderId
        in: path
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the guaranteed order to fetch. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`
        required: true
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that has access to the guaranteed order.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that has access to the guaranteed order.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuaranteedOrder'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.guaranteedOrders.get
    patch:
      operationId: guaranteedOrdersPatch
      summary: Updates an existing guaranteed order.
      description: Updates an existing guaranteed order. Returns the updated guaranteed order if successful.
      tags:
      - Guaranteed Orders
      parameters:
      - name: guaranteedOrderId
        in: path
        schema:
          type: string
          pattern: ^[^/]+$
        description: Output only. The unique identifier of the guaranteed order. The guaranteed order
          IDs have the format `{exchange}-{legacy_guaranteed_order_id}`.
        required: true
      - name: updateMask
        in: query
        schema:
          type: string
          format: google-fieldmask
        description: Required. The mask to control which fields to update.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that the request is being made within.
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that the request is being made within.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuaranteedOrder'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuaranteedOrder'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.guaranteedOrders.patch
  /media/{mediaId}:
    post:
      operationId: mediaUpload
      summary: Uploads media.
      description: 'Uploads media. Upload is supported on the URI `/upload/media/{resource_name=**}?upload_type=media.`
        **Note**: Upload requests will not be successful without including `upload_type=media` query string.'
      tags:
      - Media
      parameters:
      - name: resourceName
        in: path
        schema:
          type: string
          pattern: ^.*$
        description: Name of the media that is being downloaded. See ReadRequest.resource_name.
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleBytestreamMedia'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleBytestreamMedia'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
        - https://www.googleapis.com/auth/doubleclickbidmanager
      x-google-supports-media-upload: true
      x-google-method-id: displayvideo.media.upload
  /download/{downloadId}:
    get:
      operationId: mediaDownload
      summary: Downloads media.
      description: 'Downloads media. Download is supported on the URI `/download/{resource_name=**}?alt=media.`
        **Note**: Download requests will not be successful without including `alt=media` query string.'
      tags:
      - Media
      parameters:
      - name: resourceName
        in: path
        schema:
          type: string
          pattern: ^.*$
        description: Name of the media that is being downloaded. See ReadRequest.resource_name.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleBytestreamMedia'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
        - https://www.googleapis.com/auth/doubleclickbidmanager
      x-google-supports-media-download: true
      x-google-method-id: displayvideo.media.download
  /v4/customLists/{customListsId}:
    get:
      operationId: customListsGet
      summary: Gets a custom list.
      description: Gets a custom list.
      tags:
      - Custom Lists
      parameters:
      - name: customListId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the custom list to fetch.
        required: true
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the DV360 advertiser that has access to the fetched custom lists.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomList'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.customLists.get
  /v4/customLists:
    get:
      operationId: customListsList
      summary: Lists custom lists.
      description: Lists custom lists. The order is defined by the order_by parameter.
      tags:
      - Custom Lists
      parameters:
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by custom list fields. Supported syntax: * Filter expressions for
          custom lists can only contain at most one restriction. * A restriction has the form of `{field}
          {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName`
          Examples: * All custom lists for which the display name contains "Google": `displayName:"Google"`.
          The length of this field should be no more than 500 characters. Reference our [filter `LIST`
          requests](/display-video/api/guides/how-tos/filters) guide for more information.'
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is
          the value of next_page_token returned from the previous call to `ListCustomLists` method. If
          not specified, the first page of results will be returned.
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `200`. If unspecified will default to
          `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the DV360 advertiser that has access to the fetched custom lists.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `customListId` (default)
          * `displayName` The default sorting order is ascending. To specify descending order for a field,
          a suffix "desc" should be added to the field name. Example: `displayName desc`.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomListsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.customLists.list
  /v4/firstPartyAndPartnerAudiences/{firstPartyAndPartnerAudiencesId}:editCustomerMatchMembers:
    post:
      operationId: firstPartyAndPartnerAudiencesEditCustomerMatchMembers
      summary: Updates the member list of a Customer Match audience.
      description: 'Updates the member list of a Customer Match audience. Only supported for the following
        audience_type: * `CUSTOMER_MATCH_CONTACT_INFO` * `CUSTOMER_MATCH_DEVICE_ID`'
      tags:
      - First Party and Partner Audiences
      parameters:
      - name: firstPartyAndPartnerAudienceId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the Customer Match FirstPartyAndPartnerAudience whose members
          will be edited.
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditCustomerMatchMembersRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditCustomerMatchMembersResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.firstPartyAndPartnerAudiences.editCustomerMatchMembers
  /v4/firstPartyAndPartnerAudiences:
    get:
      operationId: firstPartyAndPartnerAudiencesList
      summary: Lists first party and partner audiences.
      description: Lists first party and partner audiences. The order is defined by the order_by parameter.
      tags:
      - First Party and Partner Audiences
      parameters:
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that has access to the fetched first party and partner audiences.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that has access to the fetched first party and partner audiences.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Optional. Field by which to sort the list. Acceptable values are: * `FirstPartyAndPartnerAudienceId`
          (default) * `displayName` The default sorting order is ascending. To specify descending order
          for a field, a suffix "desc" should be added to the field name. Example: `displayName desc`.'
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Optional. Requested page size. Must be between `1` and `5000`. If unspecified, this
          value defaults to `5000`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
      - name: pageToken
        in: query
        schema:
          type: string
        description: Optional. A token identifying a page of results the server should return. Typically,
          this is the value of next_page_token returned from the previous call to `ListFirstPartyAndPartnerAudiences`
          method. If not specified, the first page of results will be returned.
      - name: filter
        in: query
        schema:
          type: string
        description: 'Optional. Allows filtering by first party and partner audience fields. Supported
          syntax: * Filter expressions for first party and partner audiences can only contain at most
          one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields
          must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All first party
          and partner audiences for which the display name contains "Google": `displayName:"Google"`.
          The length of this field should be no more than 500 characters. Reference our [filter `LIST`
          requests](/display-video/api/guides/how-tos/filters) guide for more information.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFirstPartyAndPartnerAudiencesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.firstPartyAndPartnerAudiences.list
    post:
      operationId: firstPartyAndPartnerAudiencesCreate
      summary: Creates a FirstPartyAndPartnerAudience.
      description: 'Creates a FirstPartyAndPartnerAudience. Only supported for the following audience_type:
        * `CUSTOMER_MATCH_CONTACT_INFO` * `CUSTOMER_MATCH_DEVICE_ID`'
      tags:
      - First Party and Partner Audiences
      parameters:
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: Required. The ID of the advertiser under whom the FirstPartyAndPartnerAudience will
          be created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirstPartyAndPartnerAudience'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstPartyAndPartnerAudience'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.firstPartyAndPartnerAudiences.create
  /v4/firstPartyAndPartnerAudiences/{firstPartyAndPartnerAudiencesId}:
    patch:
      operationId: firstPartyAndPartnerAudiencesPatch
      summary: Updates an existing FirstPartyAndPartnerAudience.
      description: 'Updates an existing FirstPartyAndPartnerAudience. Only supported for the following
        audience_type: * `CUSTOMER_MATCH_CONTACT_INFO` * `CUSTOMER_MATCH_DEVICE_ID`'
      tags:
      - First Party and Partner Audiences
      parameters:
      - name: firstPartyAndPartnerAudienceId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Identifier. The unique ID of the first party and partner audience. Assigned by the
          system.
        required: true
      - name: updateMask
        in: query
        schema:
          type: string
          format: google-fieldmask
        description: 'Required. The mask to control which fields to update. Updates are only supported
          for the following fields: * `displayName` * `description` * `membershipDurationDays`'
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: Required. The ID of the owner advertiser of the updated FirstPartyAndPartnerAudience.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirstPartyAndPartnerAudience'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstPartyAndPartnerAudience'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.firstPartyAndPartnerAudiences.patch
    get:
      operationId: firstPartyAndPartnerAudiencesGet
      summary: Gets a first party or partner audience.
      description: Gets a first party or partner audience.
      tags:
      - First Party and Partner Audiences
      parameters:
      - name: firstPartyAndPartnerAudienceId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the first party and partner audience to fetch.
        required: true
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that has access to the fetched first party and partner audience.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that has access to the fetched first party and partner audience.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstPartyAndPartnerAudience'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.firstPartyAndPartnerAudiences.get
  /v4/floodlightGroups/{floodlightGroupId}:
    patch:
      operationId: floodlightGroupsPatch
      summary: Updates an existing Floodlight group.
      description: Updates an existing Floodlight group. Returns the updated Floodlight group if successful.
      tags:
      - Floodlight Groups
      parameters:
      - name: floodlightGroupId
        in: path
        schema:
          type: string
          format: int64
        description: Output only. The unique ID of the Floodlight group. Assigned by the system.
        required: true
      - name: updateMask
        in: query
        schema:
          type: string
          format: google-fieldmask
        description: Required. The mask to control which fields to update.
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: Required. The partner context by which the Floodlight group is being accessed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FloodlightGroup'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodlightGroup'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.floodlightGroups.patch
  /v4/floodlightGroups/{floodlightGroupsId}:
    get:
      operationId: floodlightGroupsGet
      summary: Gets a Floodlight group.
      description: Gets a Floodlight group.
      tags:
      - Floodlight Groups
      parameters:
      - name: floodlightGroupId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the Floodlight group to fetch.
        required: true
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: Required. The partner context by which the Floodlight group is being accessed.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodlightGroup'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.floodlightGroups.get
  /v4/floodlightGroups/{floodlightGroupsId}/floodlightActivities/{floodlightActivitiesId}:
    get:
      operationId: floodlightGroupsFloodlightActivitiesGet
      summary: Gets a Floodlight activity.
      description: Gets a Floodlight activity.
      tags:
      - Floodlight Groups
      parameters:
      - name: floodlightGroupId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the parent Floodlight group to which the requested Floodlight
          activity belongs.
        required: true
      - name: floodlightActivityId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the Floodlight activity to fetch.
        required: true
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: Required. The ID of the partner through which the Floodlight activity is being accessed.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodlightActivity'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.floodlightGroups.floodlightActivities.get
  /v4/floodlightGroups/{floodlightGroupsId}/floodlightActivities:
    get:
      operationId: floodlightGroupsFloodlightActivitiesList
      summary: Lists Floodlight activities in a Floodlight group.
      description: Lists Floodlight activities in a Floodlight group.
      tags:
      - Floodlight Groups
      parameters:
      - name: floodlightGroupId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the parent Floodlight group to which the requested Floodlight
          activities belong.
        required: true
      - name: pageToken
        in: query
        schema:
          type: string
        description: Optional. A token identifying a page of results the server should return. Typically,
          this is the value of next_page_token returned from the previous call to `ListFloodlightActivities`
          method. If not specified, the first page of results will be returned.
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Optional. Requested page size. Must be between `1` and `200`. If unspecified will
          default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Optional. Field by which to sort the list. Acceptable values are: * `displayName`
          (default) * `floodlightActivityId` The default sorting order is ascending. To specify descending
          order for a field, a suffix "desc" should be added to the field name. Example: `displayName
          desc`.'
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: Required. The ID of the partner through which the Floodlight activities are being
          accessed.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFloodlightActivitiesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.floodlightGroups.floodlightActivities.list
  /v4/targetingTypes/{targetingTypesId}/targetingOptions:search:
    post:
      operationId: targetingTypesTargetingOptionsSearch
      summary: Searches for targeting options of a given type based on the given search terms.
      description: Searches for targeting options of a given type based on the given search terms.
      tags:
      - Targeting Types
      parameters:
      - name: targetingType
        in: path
        schema:
          type: string
          enum:
          - TARGETING_TYPE_UNSPECIFIED
          - TARGETING_TYPE_CHANNEL
          - TARGETING_TYPE_APP_CATEGORY
          - TARGETING_TYPE_APP
          - TARGETING_TYPE_URL
          - TARGETING_TYPE_DAY_AND_TIME
          - TARGETING_TYPE_AGE_RANGE
          - TARGETING_TYPE_REGIONAL_LOCATION_LIST
          - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
          - TARGETING_TYPE_GENDER
          - TARGETING_TYPE_VIDEO_PLAYER_SIZE
          - TARGETING_TYPE_USER_REWARDED_CONTENT
          - TARGETING_TYPE_PARENTAL_STATUS
          - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
          - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
          - TARGETING_TYPE_DEVICE_TYPE
          - TARGETING_TYPE_AUDIENCE_GROUP
          - TARGETING_TYPE_BROWSER
          - TARGETING_TYPE_HOUSEHOLD_INCOME
          - TARGETING_TYPE_ON_SCREEN_POSITION
          - TARGETING_TYPE_THIRD_PARTY_VERIFIER
          - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
          - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
          - TARGETING_TYPE_ENVIRONMENT
          - TARGETING_TYPE_CARRIER_AND_ISP
          - TARGETING_TYPE_OPERATING_SYSTEM
          - TARGETING_TYPE_DEVICE_MAKE_MODEL
          - TARGETING_TYPE_KEYWORD
          - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
          - TARGETING_TYPE_VIEWABILITY
          - TARGETING_TYPE_CATEGORY
          - TARGETING_TYPE_INVENTORY_SOURCE
          - TARGETING_TYPE_LANGUAGE
          - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
          - TARGETING_TYPE_GEO_REGION
          - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
          - TARGETING_TYPE_EXCHANGE
          - TARGETING_TYPE_SUB_EXCHANGE
          - TARGETING_TYPE_POI
          - TARGETING_TYPE_BUSINESS_CHAIN
          - TARGETING_TYPE_CONTENT_DURATION
          - TARGETING_TYPE_CONTENT_STREAM_TYPE
          - TARGETING_TYPE_NATIVE_CONTENT_POSITION
          - TARGETING_TYPE_OMID
          - TARGETING_TYPE_AUDIO_CONTENT_TYPE
          - TARGETING_TYPE_CONTENT_GENRE
          - TARGETING_TYPE_YOUTUBE_VIDEO
          - TARGETING_TYPE_YOUTUBE_CHANNEL
          - TARGETING_TYPE_SESSION_POSITION
          - TARGETING_TYPE_CONTENT_THEME_EXCLUSION
          - TARGETING_TYPE_YOUTUBE_CHANNEL_PACK
          pattern: ^[^/]+$
        description: 'Required. The type of targeting options to retrieve. Accepted values are: * `TARGETING_TYPE_GEO_REGION`
          * `TARGETING_TYPE_POI` * `TARGETING_TYPE_BUSINESS_CHAIN` Allowed values — `TARGETING_TYPE_UNSPECIFIED`:
          Default value when type is not specified or is unknown in this version.; `TARGETING_TYPE_CHANNEL`:
          Target a channel (a custom group of related websites or apps).; `TARGETING_TYPE_APP_CATEGORY`:
          Target an app category (for example, education or puzzle games).; `TARGETING_TYPE_APP`: Target
          a specific app (for example, Angry Birds).; `TARGETING_TYPE_URL`: Target a specific url (for
          example, quora.com).; `TARGETING_TYPE_DAY_AND_TIME`: Target ads during a chosen time period
          on a specific day.; `TARGETING_TYPE_AGE_RANGE`: Target ads to a specific age range (for example,
          18-24).; `TARGETING_TYPE_REGIONAL_LOCATION_LIST`: Target ads to the specified regions on a regional
          location list.; `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`: Target ads to the specified points
          of interest on a proximity location list.; `TARGETING_TYPE_GENDER`: Target ads to a specific
          gender (for example, female or male).; `TARGETING_TYPE_VIDEO_PLAYER_SIZE`: Target a specific
          video player size for video ads.; `TARGETING_TYPE_USER_REWARDED_CONTENT`: Target user rewarded
          content for video ads.; `TARGETING_TYPE_PARENTAL_STATUS`: Target ads to a specific parental
          status (for example, parent or not a parent).; `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`: Target
          video or audio ads in a specific content instream position (for example, pre-roll, mid-roll,
          or post-roll).; `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`: Target ads in a specific content
          outstream position.; `TARGETING_TYPE_DEVICE_TYPE`: Target ads to a specific device type (for
          example, tablet or connected TV).; `TARGETING_TYPE_AUDIENCE_GROUP`: Target ads to an audience
          or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.;
          `TARGETING_TYPE_BROWSER`: Target ads to specific web browsers (for example, Chrome).; `TARGETING_TYPE_HOUSEHOLD_INCOME`:
          Target ads to a specific household income range (for example, top 10%).; `TARGETING_TYPE_ON_SCREEN_POSITION`:
          Target ads in a specific on screen position.; `TARGETING_TYPE_THIRD_PARTY_VERIFIER`: Filter
          web sites through third party verification (for example, IAS or DoubleVerify).; `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`:
          Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only
          for mature audiences).; `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`: Filter website content
          by sensitive categories (for example, adult).; `TARGETING_TYPE_ENVIRONMENT`: Target ads to a
          specific environment (for example, web or app).; `TARGETING_TYPE_CARRIER_AND_ISP`: Target ads
          to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).;
          `TARGETING_TYPE_OPERATING_SYSTEM`: Target ads to a specific operating system (for example, macOS).;
          `TARGETING_TYPE_DEVICE_MAKE_MODEL`: Target ads to a specific device make or model (for example,
          Roku or Samsung).; `TARGETING_TYPE_KEYWORD`: Target ads to a specific keyword (for example,
          dog or retriever).; `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`: Target ads to a specific negative
          keyword list.; `TARGETING_TYPE_VIEWABILITY`: Target ads to a specific viewability (for example,
          80% viewable).; `TARGETING_TYPE_CATEGORY`: Target ads to a specific content category (for example,
          arts & entertainment).; `TARGETING_TYPE_INVENTORY_SOURCE`: Purchase impressions from specific
          deals and auction packages.; `TARGETING_TYPE_LANGUAGE`: Target ads to a specific language (for
          example, English or Japanese).; `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`: Target ads to ads.txt
          authorized sellers. If no targeting option of this type is assigned, the resource uses the "Authorized
          Direct Sellers and Resellers" option by default.; `TARGETING_TYPE_GEO_REGION`: Target ads to
          a specific regional location (for example, a city or state).; `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`:
          Purchase impressions from a group of deals and auction packages.; `TARGETING_TYPE_EXCHANGE`:
          Purchase impressions from specific exchanges.; `TARGETING_TYPE_SUB_EXCHANGE`: Purchase impressions
          from specific sub-exchanges.; `TARGETING_TYPE_POI`: Target ads around a specific point of interest,
          such as a notable building, a street address, or latitude/longitude coordinates.; `TARGETING_TYPE_BUSINESS_CHAIN`:
          Target ads around locations of a business chain within a specific geo region.; `TARGETING_TYPE_CONTENT_DURATION`:
          Target ads to a specific video content duration.; `TARGETING_TYPE_CONTENT_STREAM_TYPE`: Target
          ads to a specific video content stream type.; `TARGETING_TYPE_NATIVE_CONTENT_POSITION`: Target
          ads to a specific native content position.; `TARGETING_TYPE_OMID`: Target ads in an Open Measurement
          enabled inventory.; `TARGETING_TYPE_AUDIO_CONTENT_TYPE`: Target ads to a specific audio content
          type.; `TARGETING_TYPE_CONTENT_GENRE`: Target ads to a specific content genre.; `TARGETING_TYPE_YOUTUBE_VIDEO`:
          Target ads to a specific YouTube video. Targeting of this type cannot be created or updated
          using the API. Although this targeting is inherited by child resources, **inherited targeting
          of this type will not be retrieveable**.; `TARGETING_TYPE_YOUTUBE_CHANNEL`: Target ads to a
          specific YouTube channel. Targeting of this type cannot be created or updated using the API.
          Although this targeting is inherited by child resources, **inherited targeting of this type
          will not be retrieveable**.; `TARGETING_TYPE_SESSION_POSITION`: Target ads to a serve it in
          a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic
          Reservation line items. Targeting of this type cannot be created or updated using the API.;
          `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`: Filter website content by content themes (for example,
          religion). Only supported for Advertiser resources. Targeting of this type cannot be created
          or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line
          item resources.; `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`: Target ads to a specific YouTube channel
          pack.'
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchTargetingOptionsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchTargetingOptionsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.targetingTypes.targetingOptions.search
  /v4/targetingTypes/{targetingTypesId}/targetingOptions/{targetingOptionsId}:
    get:
      operationId: targetingTypesTargetingOptionsGet
      summary: Gets a single targeting option.
      description: Gets a single targeting option.
      tags:
      - Targeting Types
      parameters:
      - name: targetingType
        in: path
        schema:
          type: string
          enum:
          - TARGETING_TYPE_UNSPECIFIED
          - TARGETING_TYPE_CHANNEL
          - TARGETING_TYPE_APP_CATEGORY
          - TARGETING_TYPE_APP
          - TARGETING_TYPE_URL
          - TARGETING_TYPE_DAY_AND_TIME
          - TARGETING_TYPE_AGE_RANGE
          - TARGETING_TYPE_REGIONAL_LOCATION_LIST
          - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
          - TARGETING_TYPE_GENDER
          - TARGETING_TYPE_VIDEO_PLAYER_SIZE
          - TARGETING_TYPE_USER_REWARDED_CONTENT
          - TARGETING_TYPE_PARENTAL_STATUS
          - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
          - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
          - TARGETING_TYPE_DEVICE_TYPE
          - TARGETING_TYPE_AUDIENCE_GROUP
          - TARGETING_TYPE_BROWSER
          - TARGETING_TYPE_HOUSEHOLD_INCOME
          - TARGETING_TYPE_ON_SCREEN_POSITION
          - TARGETING_TYPE_THIRD_PARTY_VERIFIER
          - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
          - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
          - TARGETING_TYPE_ENVIRONMENT
          - TARGETING_TYPE_CARRIER_AND_ISP
          - TARGETING_TYPE_OPERATING_SYSTEM
          - TARGETING_TYPE_DEVICE_MAKE_MODEL
          - TARGETING_TYPE_KEYWORD
          - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
          - TARGETING_TYPE_VIEWABILITY
          - TARGETING_TYPE_CATEGORY
          - TARGETING_TYPE_INVENTORY_SOURCE
          - TARGETING_TYPE_LANGUAGE
          - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
          - TARGETING_TYPE_GEO_REGION
          - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
          - TARGETING_TYPE_EXCHANGE
          - TARGETING_TYPE_SUB_EXCHANGE
          - TARGETING_TYPE_POI
          - TARGETING_TYPE_BUSINESS_CHAIN
          - TARGETING_TYPE_CONTENT_DURATION
          - TARGETING_TYPE_CONTENT_STREAM_TYPE
          - TARGETING_TYPE_NATIVE_CONTENT_POSITION
          - TARGETING_TYPE_OMID
          - TARGETING_TYPE_AUDIO_CONTENT_TYPE
          - TARGETING_TYPE_CONTENT_GENRE
          - TARGETING_TYPE_YOUTUBE_VIDEO
          - TARGETING_TYPE_YOUTUBE_CHANNEL
          - TARGETING_TYPE_SESSION_POSITION
          - TARGETING_TYPE_CONTENT_THEME_EXCLUSION
          - TARGETING_TYPE_YOUTUBE_CHANNEL_PACK
          pattern: ^[^/]+$
        description: 'Required. The type of targeting option to retrieve. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY`
          * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE`
          * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`
          * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER`
          * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP`
          * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT`
          * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`
          * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`
          * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE`
          * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID` Allowed values — `TARGETING_TYPE_UNSPECIFIED`:
          Default value when type is not specified or is unknown in this version.; `TARGETING_TYPE_CHANNEL`:
          Target a channel (a custom group of related websites or apps).; `TARGETING_TYPE_APP_CATEGORY`:
          Target an app category (for example, education or puzzle games).; `TARGETING_TYPE_APP`: Target
          a specific app (for example, Angry Birds).; `TARGETING_TYPE_URL`: Target a specific url (for
          example, quora.com).; `TARGETING_TYPE_DAY_AND_TIME`: Target ads during a chosen time period
          on a specific day.; `TARGETING_TYPE_AGE_RANGE`: Target ads to a specific age range (for example,
          18-24).; `TARGETING_TYPE_REGIONAL_LOCATION_LIST`: Target ads to the specified regions on a regional
          location list.; `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`: Target ads to the specified points
          of interest on a proximity location list.; `TARGETING_TYPE_GENDER`: Target ads to a specific
          gender (for example, female or male).; `TARGETING_TYPE_VIDEO_PLAYER_SIZE`: Target a specific
          video player size for video ads.; `TARGETING_TYPE_USER_REWARDED_CONTENT`: Target user rewarded
          content for video ads.; `TARGETING_TYPE_PARENTAL_STATUS`: Target ads to a specific parental
          status (for example, parent or not a parent).; `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`: Target
          video or audio ads in a specific content instream position (for example, pre-roll, mid-roll,
          or post-roll).; `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`: Target ads in a specific content
          outstream position.; `TARGETING_TYPE_DEVICE_TYPE`: Target ads to a specific device type (for
          example, tablet or connected TV).; `TARGETING_TYPE_AUDIENCE_GROUP`: Target ads to an audience
          or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.;
          `TARGETING_TYPE_BROWSER`: Target ads to specific web browsers (for example, Chrome).; `TARGETING_TYPE_HOUSEHOLD_INCOME`:
          Target ads to a specific household income range (for example, top 10%).; `TARGETING_TYPE_ON_SCREEN_POSITION`:
          Target ads in a specific on screen position.; `TARGETING_TYPE_THIRD_PARTY_VERIFIER`: Filter
          web sites through third party verification (for example, IAS or DoubleVerify).; `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`:
          Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only
          for mature audiences).; `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`: Filter website content
          by sensitive categories (for example, adult).; `TARGETING_TYPE_ENVIRONMENT`: Target ads to a
          specific environment (for example, web or app).; `TARGETING_TYPE_CARRIER_AND_ISP`: Target ads
          to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).;
          `TARGETING_TYPE_OPERATING_SYSTEM`: Target ads to a specific operating system (for example, macOS).;
          `TARGETING_TYPE_DEVICE_MAKE_MODEL`: Target ads to a specific device make or model (for example,
          Roku or Samsung).; `TARGETING_TYPE_KEYWORD`: Target ads to a specific keyword (for example,
          dog or retriever).; `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`: Target ads to a specific negative
          keyword list.; `TARGETING_TYPE_VIEWABILITY`: Target ads to a specific viewability (for example,
          80% viewable).; `TARGETING_TYPE_CATEGORY`: Target ads to a specific content category (for example,
          arts & entertainment).; `TARGETING_TYPE_INVENTORY_SOURCE`: Purchase impressions from specific
          deals and auction packages.; `TARGETING_TYPE_LANGUAGE`: Target ads to a specific language (for
          example, English or Japanese).; `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`: Target ads to ads.txt
          authorized sellers. If no targeting option of this type is assigned, the resource uses the "Authorized
          Direct Sellers and Resellers" option by default.; `TARGETING_TYPE_GEO_REGION`: Target ads to
          a specific regional location (for example, a city or state).; `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`:
          Purchase impressions from a group of deals and auction packages.; `TARGETING_TYPE_EXCHANGE`:
          Purchase impressions from specific exchanges.; `TARGETING_TYPE_SUB_EXCHANGE`: Purchase impressions
          from specific sub-exchanges.; `TARGETING_TYPE_POI`: Target ads around a specific point of interest,
          such as a notable building, a street address, or latitude/longitude coordinates.; `TARGETING_TYPE_BUSINESS_CHAIN`:
          Target ads around locations of a business chain within a specific geo region.; `TARGETING_TYPE_CONTENT_DURATION`:
          Target ads to a specific video content duration.; `TARGETING_TYPE_CONTENT_STREAM_TYPE`: Target
          ads to a specific video content stream type.; `TARGETING_TYPE_NATIVE_CONTENT_POSITION`: Target
          ads to a specific native content position.; `TARGETING_TYPE_OMID`: Target ads in an Open Measurement
          enabled inventory.; `TARGETING_TYPE_AUDIO_CONTENT_TYPE`: Target ads to a specific audio content
          type.; `TARGETING_TYPE_CONTENT_GENRE`: Target ads to a specific content genre.; `TARGETING_TYPE_YOUTUBE_VIDEO`:
          Target ads to a specific YouTube video. Targeting of this type cannot be created or updated
          using the API. Although this targeting is inherited by child resources, **inherited targeting
          of this type will not be retrieveable**.; `TARGETING_TYPE_YOUTUBE_CHANNEL`: Target ads to a
          specific YouTube channel. Targeting of this type cannot be created or updated using the API.
          Although this targeting is inherited by child resources, **inherited targeting of this type
          will not be retrieveable**.; `TARGETING_TYPE_SESSION_POSITION`: Target ads to a serve it in
          a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic
          Reservation line items. Targeting of this type cannot be created or updated using the API.;
          `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`: Filter website content by content themes (for example,
          religion). Only supported for Advertiser resources. Targeting of this type cannot be created
          or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line
          item resources.; `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`: Target ads to a specific YouTube channel
          pack.'
        required: true
      - name: targetingOptionId
        in: path
        schema:
          type: string
          pattern: ^[^/]+$
        description: Required. The ID of the of targeting option to retrieve.
        required: true
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: Required. The Advertiser this request is being made in the context of.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetingOption'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.targetingTypes.targetingOptions.get
  /v4/targetingTypes/{targetingTypesId}/targetingOptions:
    get:
      operationId: targetingTypesTargetingOptionsList
      summary: Lists targeting options of a given type.
      description: Lists targeting options of a given type.
      tags:
      - Targeting Types
      parameters:
      - name: targetingType
        in: path
        schema:
          type: string
          enum:
          - TARGETING_TYPE_UNSPECIFIED
          - TARGETING_TYPE_CHANNEL
          - TARGETING_TYPE_APP_CATEGORY
          - TARGETING_TYPE_APP
          - TARGETING_TYPE_URL
          - TARGETING_TYPE_DAY_AND_TIME
          - TARGETING_TYPE_AGE_RANGE
          - TARGETING_TYPE_REGIONAL_LOCATION_LIST
          - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
          - TARGETING_TYPE_GENDER
          - TARGETING_TYPE_VIDEO_PLAYER_SIZE
          - TARGETING_TYPE_USER_REWARDED_CONTENT
          - TARGETING_TYPE_PARENTAL_STATUS
          - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
          - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
          - TARGETING_TYPE_DEVICE_TYPE
          - TARGETING_TYPE_AUDIENCE_GROUP
          - TARGETING_TYPE_BROWSER
          - TARGETING_TYPE_HOUSEHOLD_INCOME
          - TARGETING_TYPE_ON_SCREEN_POSITION
          - TARGETING_TYPE_THIRD_PARTY_VERIFIER
          - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
          - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
          - TARGETING_TYPE_ENVIRONMENT
          - TARGETING_TYPE_CARRIER_AND_ISP
          - TARGETING_TYPE_OPERATING_SYSTEM
          - TARGETING_TYPE_DEVICE_MAKE_MODEL
          - TARGETING_TYPE_KEYWORD
          - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
          - TARGETING_TYPE_VIEWABILITY
          - TARGETING_TYPE_CATEGORY
          - TARGETING_TYPE_INVENTORY_SOURCE
          - TARGETING_TYPE_LANGUAGE
          - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
          - TARGETING_TYPE_GEO_REGION
          - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
          - TARGETING_TYPE_EXCHANGE
          - TARGETING_TYPE_SUB_EXCHANGE
          - TARGETING_TYPE_POI
          - TARGETING_TYPE_BUSINESS_CHAIN
          - TARGETING_TYPE_CONTENT_DURATION
          - TARGETING_TYPE_CONTENT_STREAM_TYPE
          - TARGETING_TYPE_NATIVE_CONTENT_POSITION
          - TARGETING_TYPE_OMID
          - TARGETING_TYPE_AUDIO_CONTENT_TYPE
          - TARGETING_TYPE_CONTENT_GENRE
          - TARGETING_TYPE_YOUTUBE_VIDEO
          - TARGETING_TYPE_YOUTUBE_CHANNEL
          - TARGETING_TYPE_SESSION_POSITION
          - TARGETING_TYPE_CONTENT_THEME_EXCLUSION
          - TARGETING_TYPE_YOUTUBE_CHANNEL_PACK
          pattern: ^[^/]+$
        description: 'Required. The type of targeting option to be listed. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY`
          * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE`
          * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`
          * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER`
          * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP`
          * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT`
          * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`
          * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`
          * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE`
          * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID` Allowed values — `TARGETING_TYPE_UNSPECIFIED`:
          Default value when type is not specified or is unknown in this version.; `TARGETING_TYPE_CHANNEL`:
          Target a channel (a custom group of related websites or apps).; `TARGETING_TYPE_APP_CATEGORY`:
          Target an app category (for example, education or puzzle games).; `TARGETING_TYPE_APP`: Target
          a specific app (for example, Angry Birds).; `TARGETING_TYPE_URL`: Target a specific url (for
          example, quora.com).; `TARGETING_TYPE_DAY_AND_TIME`: Target ads during a chosen time period
          on a specific day.; `TARGETING_TYPE_AGE_RANGE`: Target ads to a specific age range (for example,
          18-24).; `TARGETING_TYPE_REGIONAL_LOCATION_LIST`: Target ads to the specified regions on a regional
          location list.; `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`: Target ads to the specified points
          of interest on a proximity location list.; `TARGETING_TYPE_GENDER`: Target ads to a specific
          gender (for example, female or male).; `TARGETING_TYPE_VIDEO_PLAYER_SIZE`: Target a specific
          video player size for video ads.; `TARGETING_TYPE_USER_REWARDED_CONTENT`: Target user rewarded
          content for video ads.; `TARGETING_TYPE_PARENTAL_STATUS`: Target ads to a specific parental
          status (for example, parent or not a parent).; `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`: Target
          video or audio ads in a specific content instream position (for example, pre-roll, mid-roll,
          or post-roll).; `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`: Target ads in a specific content
          outstream position.; `TARGETING_TYPE_DEVICE_TYPE`: Target ads to a specific device type (for
          example, tablet or connected TV).; `TARGETING_TYPE_AUDIENCE_GROUP`: Target ads to an audience
          or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.;
          `TARGETING_TYPE_BROWSER`: Target ads to specific web browsers (for example, Chrome).; `TARGETING_TYPE_HOUSEHOLD_INCOME`:
          Target ads to a specific household income range (for example, top 10%).; `TARGETING_TYPE_ON_SCREEN_POSITION`:
          Target ads in a specific on screen position.; `TARGETING_TYPE_THIRD_PARTY_VERIFIER`: Filter
          web sites through third party verification (for example, IAS or DoubleVerify).; `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`:
          Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only
          for mature audiences).; `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`: Filter website content
          by sensitive categories (for example, adult).; `TARGETING_TYPE_ENVIRONMENT`: Target ads to a
          specific environment (for example, web or app).; `TARGETING_TYPE_CARRIER_AND_ISP`: Target ads
          to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).;
          `TARGETING_TYPE_OPERATING_SYSTEM`: Target ads to a specific operating system (for example, macOS).;
          `TARGETING_TYPE_DEVICE_MAKE_MODEL`: Target ads to a specific device make or model (for example,
          Roku or Samsung).; `TARGETING_TYPE_KEYWORD`: Target ads to a specific keyword (for example,
          dog or retriever).; `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`: Target ads to a specific negative
          keyword list.; `TARGETING_TYPE_VIEWABILITY`: Target ads to a specific viewability (for example,
          80% viewable).; `TARGETING_TYPE_CATEGORY`: Target ads to a specific content category (for example,
          arts & entertainment).; `TARGETING_TYPE_INVENTORY_SOURCE`: Purchase impressions from specific
          deals and auction packages.; `TARGETING_TYPE_LANGUAGE`: Target ads to a specific language (for
          example, English or Japanese).; `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`: Target ads to ads.txt
          authorized sellers. If no targeting option of this type is assigned, the resource uses the "Authorized
          Direct Sellers and Resellers" option by default.; `TARGETING_TYPE_GEO_REGION`: Target ads to
          a specific regional location (for example, a city or state).; `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`:
          Purchase impressions from a group of deals and auction packages.; `TARGETING_TYPE_EXCHANGE`:
          Purchase impressions from specific exchanges.; `TARGETING_TYPE_SUB_EXCHANGE`: Purchase impressions
          from specific sub-exchanges.; `TARGETING_TYPE_POI`: Target ads around a specific point of interest,
          such as a notable building, a street address, or latitude/longitude coordinates.; `TARGETING_TYPE_BUSINESS_CHAIN`:
          Target ads around locations of a business chain within a specific geo region.; `TARGETING_TYPE_CONTENT_DURATION`:
          Target ads to a specific video content duration.; `TARGETING_TYPE_CONTENT_STREAM_TYPE`: Target
          ads to a specific video content stream type.; `TARGETING_TYPE_NATIVE_CONTENT_POSITION`: Target
          ads to a specific native content position.; `TARGETING_TYPE_OMID`: Target ads in an Open Measurement
          enabled inventory.; `TARGETING_TYPE_AUDIO_CONTENT_TYPE`: Target ads to a specific audio content
          type.; `TARGETING_TYPE_CONTENT_GENRE`: Target ads to a specific content genre.; `TARGETING_TYPE_YOUTUBE_VIDEO`:
          Target ads to a specific YouTube video. Targeting of this type cannot be created or updated
          using the API. Although this targeting is inherited by child resources, **inherited targeting
          of this type will not be retrieveable**.; `TARGETING_TYPE_YOUTUBE_CHANNEL`: Target ads to a
          specific YouTube channel. Targeting of this type cannot be created or updated using the API.
          Although this targeting is inherited by child resources, **inherited targeting of this type
          will not be retrieveable**.; `TARGETING_TYPE_SESSION_POSITION`: Target ads to a serve it in
          a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic
          Reservation line items. Targeting of this type cannot be created or updated using the API.;
          `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`: Filter website content by content themes (for example,
          religion). Only supported for Advertiser resources. Targeting of this type cannot be created
          or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line
          item resources.; `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`: Target ads to a specific YouTube channel
          pack.'
        required: true
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `200`. If unspecified will default to
          `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by targeting option fields. Supported syntax: * Filter expressions
          are made up of one or more restrictions. * Restrictions can be combined by `OR` logical operators.
          * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS
          (=)` operator. Supported fields: * `carrierAndIspDetails.type` * `geoRegionDetails.geoRegionType`
          * `targetingOptionId` Examples: * All `GEO REGION` targeting options that belong to sub type
          `GEO_REGION_TYPE_COUNTRY` or `GEO_REGION_TYPE_STATE`: `geoRegionDetails.geoRegionType="GEO_REGION_TYPE_COUNTRY"
          OR geoRegionDetails.geoRegionType="GEO_REGION_TYPE_STATE"` * All `CARRIER AND ISP` targeting
          options that belong to sub type `CARRIER_AND_ISP_TYPE_CARRIER`: `carrierAndIspDetails.type="CARRIER_AND_ISP_TYPE_CARRIER"`
          The length of this field should be no more than 500 characters. Reference our [filter `LIST`
          requests](/display-video/api/guides/how-tos/filters) guide for more information.'
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is
          the value of next_page_token returned from the previous call to `ListTargetingOptions` method.
          If not specified, the first page of results will be returned.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: Required. The Advertiser this request is being made in the context of.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `targetingOptionId` (default)
          The default sorting order is ascending. To specify descending order for a field, a suffix "desc"
          should be added to the field name. Example: `targetingOptionId desc`.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTargetingOptionsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.targetingTypes.targetingOptions.list
  /v4/sdfdownloadtasks:
    post:
      operationId: sdfdownloadtasksCreate
      summary: Creates an SDF Download Task.
      description: Creates an SDF Download Task. Returns an Operation. An SDF Download Task is a long-running,
        asynchronous operation. The metadata type of this operation is SdfDownloadTaskMetadata. If the
        request is successful, the response type of the operation is SdfDownloadTask. The response will
        not include the download files, which must be retrieved with media.download. The state of operation
        can be retrieved with `sdfdownloadtasks.operations.get`. Any errors can be found in the error.message.
        Note that error.details is expected to be empty.
      tags:
      - SDF Download Tasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSdfDownloadTaskRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.sdfdownloadtasks.create
  /v4/sdfdownloadtasks/operations/{operationsId}:
    get:
      operationId: sdfdownloadtasksOperationsGet
      summary: Gets the latest state of an asynchronous SDF download task operation.
      description: Gets the latest state of an asynchronous SDF download task operation. Clients should
        poll this method at intervals of 30 seconds.
      tags:
      - SDF Download Tasks
      parameters:
      - name: name
        in: path
        schema:
          type: string
          pattern: ^sdfdownloadtasks/operations/[^/]+$
        description: The name of the operation resource.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
        - https://www.googleapis.com/auth/doubleclickbidmanager
      x-google-method-id: displayvideo.sdfdownloadtasks.operations.get
  /v4/inventorySourceGroups/{inventorySourceGroupId}:
    patch:
      operationId: inventorySourceGroupsPatch
      summary: Updates an inventory source group.
      description: Updates an inventory source group. Returns the updated inventory source group if successful.
      tags:
      - Inventory Source Groups
      parameters:
      - name: inventorySourceGroupId
        in: path
        schema:
          type: string
          format: int64
        description: Output only. The unique ID of the inventory source group. Assigned by the system.
        required: true
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that owns the inventory source group. Only this partner has
          write access to this group.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the inventory source group. The parent partner
          does not have access to this group.
      - name: updateMask
        in: query
        schema:
          type: string
          format: google-fieldmask
        description: Required. The mask to control which fields to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventorySourceGroup'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySourceGroup'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySourceGroups.patch
  /v4/inventorySourceGroups:
    get:
      operationId: inventorySourceGroupsList
      summary: Lists inventory source groups that are accessible to the current user.
      description: Lists inventory source groups that are accessible to the current user. The order is
        defined by the order_by parameter.
      tags:
      - Inventory Source Groups
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `200`. If unspecified will default to
          `100`.
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is
          the value of next_page_token returned from the previous call to `ListInventorySources` method.
          If not specified, the first page of results will be returned.
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by inventory source group fields. Supported syntax: * Filter expressions
          are made up of one or more restrictions. * Restrictions can be combined by the logical operator
          `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the
          `EQUALS (=)` operator. Supported fields: * `inventorySourceGroupId` The length of this field
          should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters)
          guide for more information.'
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that has access to the inventory source group. A partner cannot
          access advertiser-owned inventory source groups.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that has access to the inventory source group. If an inventory
          source group is partner-owned, only advertisers to which the group is explicitly shared can
          access the group.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `displayName` (default)
          * `inventorySourceGroupId` The default sorting order is ascending. To specify descending order
          for a field, a suffix "desc" should be added to the field name. For example, `displayName desc`.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInventorySourceGroupsResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySourceGroups.list
    post:
      operationId: inventorySourceGroupsCreate
      summary: Creates a new inventory source group.
      description: Creates a new inventory source group. Returns the newly created inventory source group
        if successful.
      tags:
      - Inventory Source Groups
      parameters:
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the inventory source group. The parent partner
          will not have access to this group.
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that owns the inventory source group. Only this partner will
          have write access to this group. Only advertisers to which this group is explicitly shared will
          have read access to this group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventorySourceGroup'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySourceGroup'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySourceGroups.create
  /v4/inventorySourceGroups/{inventorySourceGroupsId}:
    get:
      operationId: inventorySourceGroupsGet
      summary: Gets an inventory source group.
      description: Gets an inventory source group.
      tags:
      - Inventory Source Groups
      parameters:
      - name: inventorySourceGroupId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the inventory source group to fetch.
        required: true
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that has access to the inventory source group. A partner cannot
          access an advertiser-owned inventory source group.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that has access to the inventory source group. If an inventory
          source group is partner-owned, only advertisers to which the group is explicitly shared can
          access the group.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySourceGroup'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySourceGroups.get
    delete:
      operationId: inventorySourceGroupsDelete
      summary: Deletes an inventory source group.
      description: Deletes an inventory source group.
      tags:
      - Inventory Source Groups
      parameters:
      - name: inventorySourceGroupId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the inventory source group to delete.
        required: true
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the inventory source group. The parent partner
          does not have access to this group.
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that owns the inventory source group. Only this partner has
          write access to this group.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySourceGroups.delete
  /v4/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources:
    post:
      operationId: inventorySourceGroupsAssignedInventorySourcesCreate
      summary: Creates an assignment between an inventory source and an inventory source group.
      description: Creates an assignment between an inventory source and an inventory source group.
      tags:
      - Inventory Source Groups
      parameters:
      - name: inventorySourceGroupId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the inventory source group to which the assignment will be assigned.
        required: true
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the parent inventory source group. The parent
          partner will not have access to this assigned inventory source.
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that owns the parent inventory source group. Only this partner
          will have write access to this assigned inventory source.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignedInventorySource'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignedInventorySource'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySourceGroups.assignedInventorySources.create
    get:
      operationId: inventorySourceGroupsAssignedInventorySourcesList
      summary: Lists inventory sources assigned to an inventory source group.
      description: Lists inventory sources assigned to an inventory source group.
      tags:
      - Inventory Source Groups
      parameters:
      - name: inventorySourceGroupId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the inventory source group to which these assignments are assigned.
        required: true
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that has access to the assignment. If the parent inventory
          source group is partner-owned, only advertisers to which the parent group is explicitly shared
          can access the assigned inventory source.
      - name: orderBy
        in: query
        schema:
          type: string
        description: 'Field by which to sort the list. Acceptable values are: * `assignedInventorySourceId`
          (default) The default sorting order is ascending. To specify descending order for a field, a
          suffix " desc" should be added to the field name. Example: `assignedInventorySourceId desc`.'
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that has access to the assignment. If the parent inventory
          source group is advertiser-owned, the assignment cannot be accessed via a partner.
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
        description: Requested page size. Must be between `1` and `100`. If unspecified will default to
          `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
      - name: filter
        in: query
        schema:
          type: string
        description: 'Allows filtering by assigned inventory source fields. Supported syntax: * Filter
          expressions are made up of one or more restrictions. * Restrictions can be combined by the `OR`
          logical operator. * A restriction has the form of `{field} {operator} {value}`. * All fields
          must use the `EQUALS (=)` operator. Supported fields: * `assignedInventorySourceId` The length
          of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters)
          guide for more information.'
      - name: pageToken
        in: query
        schema:
          type: string
        description: A token identifying a page of results the server should return. Typically, this is
          the value of next_page_token returned from the previous call to `ListAssignedInventorySources`
          method. If not specified, the first page of results will be returned.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssignedInventorySourcesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySourceGroups.assignedInventorySources.list
  /v4/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources/{assignedInventorySourcesId}:
    delete:
      operationId: inventorySourceGroupsAssignedInventorySourcesDelete
      summary: Deletes the assignment between an inventory source and an inventory source group.
      description: Deletes the assignment between an inventory source and an inventory source group.
      tags:
      - Inventory Source Groups
      parameters:
      - name: inventorySourceGroupId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the inventory source group to which this assignment is assigned.
        required: true
      - name: assignedInventorySourceId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the assigned inventory source to delete.
        required: true
      - name: partnerId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the partner that owns the parent inventory source group. Only this partner
          has write access to this assigned inventory source.
      - name: advertiserId
        in: query
        schema:
          type: string
          format: int64
        description: The ID of the advertiser that owns the parent inventory source group. The parent
          partner does not have access to this assigned inventory source.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySourceGroups.assignedInventorySources.delete
  /v4/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources:bulkEdit:
    post:
      operationId: inventorySourceGroupsAssignedInventorySourcesBulkEdit
      summary: Bulk edits multiple assignments between inventory sources and a single inventory source
        group.
      description: Bulk edits multiple assignments between inventory sources and a single inventory source
        group. The operation will delete the assigned inventory sources provided in BulkEditAssignedInventorySourcesRequest.deleted_assigned_inventory_sources
        and then create the assigned inventory sources provided in BulkEditAssignedInventorySourcesRequest.created_assigned_inventory_sources.
      tags:
      - Inventory Source Groups
      parameters:
      - name: inventorySourceGroupId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the inventory source group to which the assignments are assigned.
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEditAssignedInventorySourcesRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEditAssignedInventorySourcesResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.inventorySourceGroups.assignedInventorySources.bulkEdit
  /v4/advertisers/{advertisersId}:
    get:
      operationId: advertisersGet
      summary: Gets an advertiser.
      description: Gets an advertiser.
      tags:
      - Advertisers
      parameters:
      - name: advertiserId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the advertiser to fetch.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.advertisers.get
    delete:
      operationId: advertisersDelete
      summary: Deletes an advertiser.
      description: Deletes an advertiser. Deleting an advertiser will delete all of its child resources,
        for example, campaigns, insertion orders and line items. A deleted advertiser cannot be recovered.
      tags:
      - Advertisers
      parameters:
      - name: advertiserId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: The ID of the advertiser we need to delete.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.advertisers.delete
    patch:
      operationId: advertisersPatch
      summary: Updates an existing advertiser.
      description: Updates an existing advertiser. Returns the updated advertiser if successful.
      tags:
      - Advertisers
      parameters:
      - name: advertiserId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Output only. The unique ID of the advertiser. Assigned by the system.
        required: true
      - name: updateMask
        in: query
        schema:
          type: string
          format: google-fieldmask
        description: Required. The mask to control which fields to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Advertiser'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.advertisers.patch
  /v4/advertisers/{advertisersId}:audit:
    get:
      operationId: advertisersAudit
      summary: Audits an advertiser.
      description: Audits an advertiser. Returns the counts of used entities per resource type under the
        advertiser provided. Used entities count towards their respective resource limit. See https://support.google.com/displayvideo/answer/6071450.
      tags:
      - Advertisers
      parameters:
      - name: advertiserId
        in: path
        schema:
          type: string
          format: int64
          pattern: ^[^/]+$
        description: Required. The ID of the advertiser to audit.
        required: true
      - name: readMask
        in: query
        schema:
          type: string
          format: google-fieldmask
        description: 'Optional. The specific fields to return. If no mask is specified, all fields in
          the response proto will be filled. Valid values are: * usedLineItemsCount * usedInsertionOrdersCount
          * usedCampaignsCount * channelsCount * negativelyTargetedChannelsCount * negativeKeywordListsCount
          * adGroupCriteriaCount * campaignCriteriaCount'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditAdvertiserResponse'
      security:
      - oauth2:
        - https://www.googleapis.com/auth/display-video
      x-google-method-id: displayvideo.advertisers.audit
  /v4/advertisers:
    post:
      operationId: advertisersCreate
      summary: Creates a new advertiser.
[...]
